<link rel="stylesheet" href="/css/footer.css" />
<footer class="py-7">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-10 col-xl-6 mx-auto text-center">

                <!-- Logo -->
                <img class="footer-logo" src="/img/footer/footer-logo.png" alt="logo">
                <p class="mt-3 text-white footer-text">Hành trình khám phá những điểm đến tuyệt vời!</p>
                
                <!-- Contact -->                  
                <ul class="list-inline mt-1 mb-0">
                    <li class="list-inline-item"> 
                        <a class="btn btn-white btn-lg shadow px-2" onclick="copyClipboard(1)">
                            <img class="size-small" src="/img/footer/phone.png">
                        </a> 
                    </li>
                    <li class="list-inline-item"> 
                        <a class="btn btn-white btn-lg shadow px-2" onclick="copyClipboard(2)">
                            <img class="size-small" src="/img/footer/mail.png">
                        </a> 
                    </li>
                    <li class="list-inline-item"> 
                        <a class="btn btn-white btn-lg shadow px-2" href="https://www.google.com/maps/dir//Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Khoa+h%E1%BB%8Dc+T%E1%BB%B1+nhi%C3%AAn+-++%C4%90%E1%BA%A1i+h%E1%BB%8Dc%E2%80%A6/@10.7628409,106.6799075,17z/data=!4m10!4m9!1m1!4e1!1m5!1m1!1s0x31752f1c06f4e1dd:0x43900f1d4539a3d!2m2!1d106.6824824!2d10.7628356!3e3?entry=ttu">
                            <img class="size-small" src="/img/footer/location.png">
                        </a> 
                    </li>
                </ul>

                <!-- copyright text -->
                <div class="copyright-text"> ©2023 This is a course project and not intended for commercial purposes</div>
            </div>
        </div>
    </div>
</footer>

<!-- button back to top -->
<div class="back-top"><img class="size-fix" src="/img/footer/back-to-top.png"></div>
<script src="/js/footer.js"></script>