<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Allez Où</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />

        <!-- font family -->
        <link rel="preconnect" href="https:/fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https:/fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
        <link href="https:/fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet" />
        <link href="/maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />

        <!-- nomarlization -->
        <link rel="stylesheet" href="https:/cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />

        <!-- App favicon -->

        <!-- Theme Config Js -->
        <script src="/js/hyper-config.js"></script>

        <!-- App css -->
        <link href="/css/app-saas.min.css" rel="stylesheet" type="text/css" id="app-style" />

        <link rel="stylesheet" href="/css/admin.css">

        <!-- content page -->

        
    </head>

    <body>
        <!-- Begin page -->
        <div class="wrapper">
            
            <!-- ========== Topbar Start ========== -->
            <div class="navbar-custom">
                <div class="topbar px-5">
                    <div class="d-flex align-items-center gap-lg-2 gap-1">

                        <!-- Topbar Brand Logo -->
                        <div class="logo-topbar">
                            <!-- Logo light -->
                            <a href="index.html" class="logo-light">
                                <span class="logo-lg">
                                    <img src="/img/60x60.png" alt="logo">
                                </span>
                                <span class="logo-sm">
                                    <img src="/img/60x60.png" alt="small logo">
                                </span>
                            </a>

                            <!-- Logo Dark -->
                            <a href="index.html" class="logo-dark">
                                <span class="logo-lg">
                                    <img src="/img/60x60.png" alt="dark logo">
                                </span>
                                <span class="logo-sm">
                                    <img src="/img/60x60.png" alt="small logo">
                                </span>
                            </a>
                        </div>

                        <!-- Sidebar Menu Toggle Button -->
                        <div class="d-flex justify-content-center">
                            <button class="button-toggle-menu">
                                <img src="/img/admin/" alt="">
                            </button>
                            <p class="align-self-center m-0 menu-title">Thống kê</p>
                        </div>

                        <!-- Horizontal Menu Toggle Button -->
                        <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </div>

                    <ul class="topbar-menu d-flex align-items-center gap-3">
                        <li class="dropdown">
                            <div class=" nav-user" data-bs-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="d-lg-flex flex-column gap-1 d-none">
                                    <h5 class="my-0">Vũ Nguyễn Xuân Uyên</h5>
                                    <h6 class="my-0 fw-normal">Admin</h6>
                                </span>
                                <span class="account-user-avatar">
                                    <img src="/img/60x60.png" alt="user-image" width="32" class="rounded-circle">
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ========== Topbar End ========== -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
                <!-- Brand Logo Light -->
                <a href="index.html" class="logo logo-light">
                    <span class="logo-lg">
                        <img src="/img/60x60.png" alt="logo">
                    </span>
                    <span class="logo-sm">
                        <img src="/img/60x60.png" alt="small logo">
                    </span>
                </a>

                <!-- Brand Logo Dark -->
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-lg">
                        <img src="/img/60x60.png" alt="dark logo">
                    </span>
                    <span class="logo-sm">
                        <img src="/img/60x60.png" alt="small logo">
                    </span>
                </a>

                <!-- Sidebar Hover Menu Toggle Button -->
                <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
                    <i class="ri-checkbox-blank-circle-line align-middle"></i>
                </div>

                <!-- Full Sidebar Menu Close Button -->
                <div class="button-close-fullsidebar">
                    <i class="ri-close-fill align-middle"></i>
                </div>

                <!-- Sidebar -left -->
                <div class="h-100" id="leftside-menu-container" data-simplebar>
                    <!-- Leftbar User -->
                    <div class="leftbar-user">
                        <a href="pages-profile.html">
                            <img src="/img/60x60.png" alt="user-image" height="42" class="rounded-circle shadow-sm">
                            <span class="leftbar-user-name mt-2">Dominic Keller</span>
                        </a>
                    </div>

                    <!--- Sidemenu -->
                    <ul class="side-nav">
                        <li class="side-nav-item">
                            <a href="apps-chat.html" class="side-nav-link active-page">
                                <img src="/img/admin/dashboard.png" alt="">
                                <span> Thống kê </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#tour" aria-expanded="false" aria-controls="tour" class="side-nav-link">
                                <img src="/img/admin/destination.png" alt="">
                                <span> Tour du lịch </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="tour">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="apps-ecommerce-products.html">Bài đăng</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-products-details.html">Đơn hàng</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#role" aria-expanded="false" aria-controls="role" class="side-nav-link">
                                <img src="/img/admin/user.png" alt="">
                                <span> Vai trò </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="role">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="apps-ecommerce-products.html">Người dùng</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-products-details.html">Quản trị viên</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <a class="log-out d-flex align-items-center" href="index.html">
                        <img src="/img/admin/log-out.png" alt=""> 
                        <p>Đăng xuất</p>
                    </a>
                    <!--- End Sidemenu -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- ========== Left Sidebar End ========== -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <%- include('client') %>
            </div>


        </div>
        <!-- END wrapper -->

        <!-- Vendor js -->
        <script src="/js/vendor.min.js"></script>   

        <!-- App js -->
        <script src="/js/app.min.js"></script>

        
    </body>
</html> 