<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="/css/role-admin.css">



<div class="d-flex justify-content-end container-create-btn">
    <button class="create-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Tạo</button>
</div>
<div class="table-responsive position-relative table-custom">
    <!-- <div class="grey-line"></div> -->
    <table class="table align-middle mb-0 table-striped table-borderless">
        <thead class="align-middle">
            <tr>
                <th>HỌ TÊN</th>
                <th>ID</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <section class="gradient-custom modal-content bg-transparent">
            <div class="container p-0">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="card" style="border-radius: 16px;">
                        <div class="w-100 create-admin">
                            <p>TẠO TÀI KHOẢN QTV</p>
                        </div>
                        <div id="modal-grey-line"></div>
                        <div class="card-body">
                            <form id="registrationForm">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Họ tên</label>
                                    <input type="text" class="form-control" id="name" required
                                        placeholder="Nhập địa họ tên" />
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" required
                                        placeholder="Nhập địa chỉ email" />
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Mật khẩu</label>
                                    <input type="password" class="form-control" id="password" required
                                        placeholder="Nhập mật khẩu" />
                                </div>
                                <div class="mb-3">
                                    <label for="verifyPassword" class="form-label">Xác nhận mật khẩu</label>
                                    <input type="password" class="form-control" id="verifyPassword" required
                                        placeholder="Nhập lại mật khẩu" />
                                    <div id="passwordMismatch" class="text-danger d-none">Mật khẩu và xác nhận mật khẩu
                                        không khớp.
                                    </div>
                                </div>
                                <button type="submit" class="submit-btn" id="submitButton">Tạo</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Modal Xác nhận Xóa -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận Xóa Tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa tài khoản không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-delete-btn" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger modal-delete-btn" id="confirmDeleteButton" target="#confirmDeleteModal" data-bs-toggle="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/role-admin.js"></script>
<script>
    // Lấy modal thông qua id
    const confirmDeleteModal = new bootstrap.Modal(document.getElementById("confirmDeleteModal"));

    // Bắt sự kiện click của nút xóa
    const confirmDeleteButton = document.getElementById("confirmDeleteButton");
    confirmDeleteButton.addEventListener("click", function () {
        // Thực hiện hành động xóa tại đây (nếu cần)
        
        // Ẩn modal khi đã xóa hoặc không thực hiện xóa
        confirmDeleteModal.hide();
    });
</script>
