<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" />
    <title>Thông tin liên hệ</title> 
    <link rel="stylesheet" href="thongtinlienhe.css" />
    <script src="thongtinlienhe.js"> </script>
    
</head>
<body>
    <div class="container"> 
        <div class="row"> 
        <div class="col-md-4 thongtinlienhe ">
            <h1>Thông tin liên hệ</h1> 
            <p>Để có thể đáp ứng được các yêu cầu và các ý kiến đóng góp của quý vị một cách nhanh chóng xin vui lòng liên hệ</p>
            <h2>Điện thoại </h2> 
            <p>(84-28) 38 xxx xxx (20 lines)</p>
            <h2>Email</h2> 
            <p>abctravel@gmail.com - abctravel.asia@gmail.com (English support)</p>
            <h2>Nơi làm việc</h2>
            <p>227 Nguyễn Văn Cừ, Phường 4, Quận 5, Tp. Hồ Chí Minh</p>
            <div style="text-align: center;"> 
                <img src="https://via.placeholder.com/248x260" class="img-fluid" style="width: 100%;" />

            </div>
        </div> 
        <div class="col-md-8 input"> 
            <table class="table table-bordered">
                <tbody>
                    <tr style="border-width: 0px;">
                        <td style="border-width: 0px;">
                            <form name="info">
                                <div class="first-group"> 
                                    <label for="name">Họ và tên </label> 
                                    <input class="form-control" type="text" id="name" placeholder="Nhập họ tên" >

                                </div> 
                                <div class="row second-group">
                                    <div class="col-md-7"> 
                                        <label for="email">Email</label>
                                        <input class="form-control" type="text" id="email" placeholder="Nhập địa chỉ mail" >

                                    </div> 
                                    <div class="col-md-5" >  
                                        <label for="sdt">Số điện thoại</label>
                                        <input class="form-control" type="text" id="sdt" placeholder="Nhập số điện thoại" >

                                    </div>
                                </div>
                                <div class="third-group"> 
                                    <label for="matour">Mã tour liên quan </label> 
                                    <input class="form-control" type="text" id="name" placeholder="Nhập mã tour" >
                                    <p>Bạn muốn chúng tui lưu ý điều gì không?</p>
                                    <label for="tieu-de" >Tiêu đề</label> 
                                    <input class="form-control" type="text" id="tieu-de" placeholder="Nhập tiêu đề của bạn" >
                                    <label for="noi-dung">Nội dung</label>
                                    <input class="form-control" type="text" id="noi-dung" placeholder="Nhập nội dung bạn muốn chúng tui lưu ý" >
                                </div>
                                <div class="fourth-group">
                                    <button id="button-guingay" onclick="saveToLocalStorage()">GỬI NGAY</button>                                     
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        </div>
    </div>
</body>
</html>