*{
    box-sizing: inherit;
}
:root{
    font-size: 62.5%;
}


html{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/* navbar */
.navbar{
    transition: all 0.5s;
    background: transparent;
}
.navbar-scrolled{
    background: #0D0C1B;
}

.navbar-container{
    margin: 0 13.7rem;
}

.navbar-left{
    margin-right: 3.6rem;
}

.navbar-text{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: #FFFFFF !important;
    margin-right: 4rem;
    border-radius: 7px;
}



.navbar-text__hightlight{
    font-weight: 800;
    background: #F14868;
    border-radius: 7px;
}

.navbar-text:hover{
    font-weight: 800;
    background: #F14868;
    opacity: 0.75;
    border-radius: 7px;
}

.navbar-text__bordered{
    border: 0.05rem solid #FFFFFF;
    border-radius: 5.05285px;
}

.navbar-toggler-icon{
    background-image: url('/img/home/menu.png');
    width: 3.5rem;
    height: 3.5rem;
}

.navbar-toggler{
    padding: 0 6px;
    border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none;
}

/* Navbar with login */
.nav-item img{
    width: 40px;
    height: 40px;
}
.cart-logo{
<<<<<<< HEAD
    width: 25px !important;
    height: 25px !important;
=======
    width: 30px  !important;
    height: 30px  !important;
>>>>>>> vdpvu21
    margin-right: 2em;
}
.acc-info__container{
    border-radius: 34px 0px 34px 34px;
    background: #FFF;
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.25);
    padding: 2em;
    width: 274px;
}

.info__ava{
    width: 62px !important;
    height: 62px !important;
}
.info__name{
    color: #000;
    font-family: Nunito;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: auto;
}

.info__header{
    padding-bottom: 2em;
    border-bottom: 2px solid rgba(110, 106, 142, 0.25);
}
.info__tag{
    color: #6E6A8E;
    font-family: Nunito;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.info__content{
    color: #000;
    font-family: Nunito;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    word-wrap: break-word;
}
.info__body{
    padding: 20px 0 15px;
    border-bottom: 2px solid rgba(110, 106, 142, 0.25);
}
.logOut-btn{
    color: #FFF;
    font-family: Nunito;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    padding: 0.5em;
    line-height: normal;
    border-radius: 15px;
    background: rgba(110, 106, 142, 0.70);
    width: 84px;
    height: 22px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
}
/* modal login */
.login{
    background-color: #FFF;
    font-family: Nunito;
    color: #000;
}

.login__img{
    width: 82px;
    height: 82px;
    border-radius: 10px;
    object-fit: cover;
}
.login__title{
    color: #6C6B7B;
    font-family: Nunito;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login__label{
    color: #000;
    font-family: Nunito;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login__input{
    color: #000;
    font-family: Nunito;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 6px;
    border: 1px solid rgba(110, 106, 142, 0.30);
    width: 100%;
    height: 30px;
}
.login__input:focus-visible{
    outline: none;
}

::placeholder{
    color: #D4D2DD;
}

.card-body{
    padding: 1.5em !important;
}

.modal-dialog{
    width: 315px;
}

#login__button{
    border-radius: 17px;
    width: 10em;
    padding: 1.2em;
}

.login__forgot{
    color: #6C6B7B;
    font-family: Nunito;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.login__forgot-link{
    color: #4F6CFF;
    font-family: Nunito;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.blue-button{
    background: #4F6CFF;
    border-radius: 14.6533px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1rem;
    color: #FFFFFF;
    border: none;
    padding: 0.6em;
    margin-top: 4em;
}

.blue-button:hover{
    background-color: #3D53C0;
}

.bg-transparent{
    border-color: transparent !important;
}
@media only screen and (max-width: 576px){
    .navbar-container{
        margin: 0;
        min-height: 5rem;
    }
    .navbar{
        width: 100vw;
    }
    .navbar-left{
        margin-right: 0;
        display: none;
    }
    .nav-item{
        display: flex;
    }
    .nav-item a, .nav-item button{
        margin: auto;
    }
    .navbar-text__bordered{
        border: none;
    }
    .navbar-login{
        padding-right: 10px;
        align-items: center;
        margin: 0;
    }
    /* modal login*/
    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }
}