:root {
    font-size: 62.5%;
}

body {
    background-color: #f2f2f2;
    font-family: "Nunito";
}

.container {
    margin-top: 10em;
    padding-left: 10em; 
    padding-right: 10em;
}
.thongtinlienhe p{ 
    font-size: 1.35rem;
    font-weight: 600;
}
.thongtinlienhe h1{ 
    color: #000;
font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 2.5rem;
line-height: normal;
text-decoration-line: underline;
} 
.thongtinlienhe h2{ 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 3rem;
}
.input{ 
    font-size: 1.5rem;
    font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 5rem;
}
label[for="name"]::before {
    content: "*";
    color: red;
  }
    
  label[for="email"]::before {
    content: "*";
    color: red;
  }
  label[for="sdt"]::before {
    content: "*";
    color: red;
  }
  label[for="noi-dung"]::before {
    content: "*";
    color: red;
  }
  label[for="noi-dung"]{ 
    margin-top: 1.5rem;
  }
    

table.table-bordered {
    background-color: #ffffff;
    border-radius: 10px;

}
form[name="info"] { 
    margin: 4em;
}
.form-control {
    border-radius: 7.53px;
border: 2px solid rgba(110, 106, 142, 0.35);

    padding-top: 1rem  ;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.second-group{ 
    margin-top: 1.5rem;
}
.third-group{ 
    margin-top: 1.5rem;
} 
.third-group p{ 
    margin-top: 1.5rem;
}
#noi-dung{
    padding-bottom: 15rem;
}
#button-guingay{ 
    border-radius: 10px;
    background: #4F6CFF;
    border: none;
    margin-top: 2.5rem;
    padding: 0.5rem 3rem;
    color: white;
    
}
.fourth-group {
    text-align: right;
    padding-bottom: 3rem;
  }
  
  .fourth-group #button-guingay {
    float: right;
  }
