:root {
    font-size: 62.5% !important;
}
.content-page{
    padding: 3.375em 2.5em;
}
h3{ 
    font-weight: bold;
}
p{
    color: #6E6A8E;
font-family: Nunito;
font-size: 10px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.card-widgets{ 
    float: right;
}
.dropdown-toggle{ 
    height: 50px; 
    width: 50px;
}
.col-md-9 {  
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.page-button {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.page-button:hover {
    background-color: #ddd;
}

.page-button:active {
    background-color: #ccc;
}

.page-button.active {
    background-color: #4CAF50;
    color: white;
}
.pagination-container {
    max-width: 200px; /* Điều chỉnh kích thước container cho phân trang */
    margin: 1.2em auto; /* Canh giữa theo chiều ngang */
  }
  .pageContainer{ 
    border-radius: 12px;
  }
.card{ 
    border-radius: 12px;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
} 
.card-body{ 
    padding-top: 0;
}
.list-group-item{ 
    border-radius: 12px !important;
}
.name-tour{ 
    font-size: 1.2rem;
    color: black;
    font-weight: bolder;
}
#tacvu{ 
    border: 0; 
    background-color: white; 
    font-size: 2rem; 
    font-weight: 900;
}
#name-tour{ 
    padding-top: 1.5rem;
    height: 5rem;
}
#code-tour{ 
    margin-top: 3rem;
}
.code-tour{ 
    font-size: 1.2rem;
}

.pagination-container {
    max-width: 200px; /* Điều chỉnh kích thước container cho phân trang */
    margin: 1.2em auto; /* Canh giữa theo chiều ngang */
  }
.custom-page-link{
    border-radius: 3px;
}

.custom-prev-next{
    border: none;
    background-color: #e9ecf9;
}

.custom-prev-next:hover{
    border: none;
    background-color: #e9ecf9;
}
.fs-5{ 
    margin-top: 1rem;
    margin-bottom: 0.1rem !important;
}
.form-control{ 
    margin-top: 0.1rem;
    border: 1px solid rgba(110, 106, 142, 0.40);
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.form-control:focus{ 
    border: 3px solid rgba(110, 106, 142, 0.40);
}

.modal-content{ 
    border-radius: 20px;
} 
.modal-header{ 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#ngay-gio-khoihanh{ 
    margin-bottom: 0.2rem !important;
}   
#hinh-2-3{ 
    margin-bottom: 0.2rem !important;
}
#hinhanh{ 
    margin-bottom: 0.1rem !important;
}