:root {
    font-size: 62.5% !important;
}
.body{ 
    color: #6E6A8E !important;

}
.content-page{
    padding: 3.375em 2.5em;
}
.container-fluid{ 
    color: #6E6A8E !important;

}
.name-tour{ 
    color: #6E6A8E !important;

}
h3{ 
    font-weight: bold;
}
p{
    color: #6E6A8E;
font-family: Nunito;
font-size: 10px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.card-widgets{ 
    float: right;
}
.dropdown-toggle{ 
    height: 50px; 
    width: 50px;
}
.col-md-9 {  
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.page-button {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.page-button:hover {
    background-color: #ddd;
}

.page-button:active {
    background-color: #ccc;
}

.page-button.active {
    background-color: #4CAF50;
    color: white;
}
.pagination-container {
    max-width: 200px; /* Điều chỉnh kích thước container cho phân trang */
    margin: 1.2em auto; /* Canh giữa theo chiều ngang */
  }
  .pageContainer{ 
    border-radius: 12px;
 
  }
.card{ 
    border-radius: 12px;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
} 
.card-body{ 
    padding-top: 0 !important;
}
.list-group-item{ 
    border-radius: 12px !important;
}
.name-tour{ 
    font-size: 1.2rem !important ;
    font-weight: bolder;
}
.p-3{ 
    padding-left: 2.25rem !important; 
    padding-right: 2.25rem !important;
}
#tacvu{ 
    border: 0; 
    background-color: white; 
    font-size: 2rem; 
    font-weight: 900;
}
#name-tour{ 
    padding-top: 1.5rem;
    height: 5rem;
}
#code-tour{ 
    margin-top: 3rem;
}
.code-tour{ 
    font-size: 1.2rem;
}

.pagination-container {
    max-width: 200px; /* Điều chỉnh kích thước container cho phân trang */
    margin: 1.2em auto; /* Canh giữa theo chiều ngang */
  }
.custom-page-link{
    border-radius: 3px;
}

.custom-prev-next{
    border: none;
    background-color: #e9ecf9;
}

.custom-prev-next:hover{
    border: none;
    background-color: #e9ecf9;
}
.fs-5{ 
    margin-top: 1rem;
    margin-bottom: 0.1rem !important;
}
.form-control{ 
    margin-top: 0.1rem;
    border: 1px solid rgba(110, 106, 142, 0.40);
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.form-control:focus{ 
    border: 3px solid rgba(110, 106, 142, 0.40);
}

.modal-content{ 
    border-radius: 20px;
} 
.modal-header{ 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#ngay-gio-khoihanh{ 
    margin-bottom: 0.2rem !important;
}   
#hinh-2-3{ 
    margin-bottom: 0.2rem !important;
}
#hinh-2{ 
    margin-top: 0;
} 
#hinh-3{ 
    margin-top: 0;
}
#hinhanh{ 
    margin-bottom: 0.1rem !important;
}
.text-input {
    width: 100%;
    height: 10rem;
    padding: 10px;
    outline: none;
    overflow-y: auto;
    vertical-align: top;
    text-align: left;
    margin-top: 1rem;
    border: 1px solid rgba(110, 106, 142, 0.40);
    border-radius: 5px;
}
.text-input:focus{ 
    border: 3px solid rgba(110, 106, 142, 0.40);

}
#button-them-ngay{ 
    width: 100%;
    border-radius: 5px;
    border: 1px solid #F14868;
    background-color: white; 
    color: #F14868;
    font-weight: 900;
    font-size: 1.2rem;
} 
#button-them-ngay:active{ 
    border: 1px solid white;
    background-color: #F14868;
    color: white;

}
#button-bot-ngay{ 
    width: 100%;
    border-radius: 5px;
    border: 1px solid #F14868;
    background-color: white; 
    color: #F14868;
    font-weight: 900;
    font-size: 1.2rem;
} 
#button-bot-ngay:active{ 
    border: 1px solid white;
    background-color: #F14868;
    color: white;

}
#button-them-ngay-change{ 
    width: 100%;
    border-radius: 5px;
    border: 1px solid #F14868;
    background-color: white; 
    color: #F14868;
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: 0.6rem !important;
} 
#button-them-ngay-change:active{ 
    border: 1px solid white;
    background-color: #F14868;
    color: white;

}
#button-bot-ngay-change{ 
    width: 100%;
    border-radius: 5px;
    border: 1px solid #F14868;
    background-color: white; 
    color: #F14868;
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: 0.6rem !important;

} 
#button-bot-ngay-change:active{ 
    border: 1px solid white;
    background-color: #F14868;
    color: white;

}

#container-ngay{ 
    border-bottom: 0.2rem !important;
}
#them-ngay{ 
    margin-top: 1rem;
}
#bot-ngay{ 
    margin-top: 1rem;
}
.grey-line{
    content: "";
    border-bottom: 2px solid #CBCDDF;
    position: absolute;
    top: 96%;
    height: 0%;
    width: 100%;
    z-index: 0;
}
.nav-link{
    padding-bottom: 1rem !important;
}
#tao-tour{ 
    background-color: #F14868; 
    color: white; 
    border-radius: 10px;
    border: none; 
    padding: 0.5rem 1rem; 
    font-weight: bold;
} 
#tao-tour:active{ 
    background-color: white; 
    color: #F14868;
}
.progress-bar{
    background: #4F6CFF !important;

}
#loading-spinner {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #loading-spinner {
    display: none;
  }
  
  #loading-spinner.show {
    display: block;
  }
  .nav-order-status{
    color: #9F9EB9 !important;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.active.nav-order-status{
    background: none !important;
    color: #9F9EB9 !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #4F6CFF;
    margin: 0;
    z-index: 1;
    position: relative;
    color: #4F6CFF !important;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-trigger {
    cursor: pointer;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 3px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
  }
  
  .dropdown-item {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
  }
  
  .custom-dropdown:hover .dropdown-menu,
  .custom-dropdown .dropdown-trigger:focus + .dropdown-menu {
    display: block;
  }
  .dropdown-menu{
    height: auto;
    width: auto;
  }
  #dropdown{
    background-color: white !important;
  }
  #dropdown:hover{ 
    background-color: white !important;
  } 
  #dropdown:focus{ 
    background-color: white !important;
  }
  a img{
    width: 11px;
    height: 11px;
    margin-left: 0.5em;
    cursor: pointer;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
#ex1-tab-1:hover{ 
    cursor: pointer;
}
#ex1-tab-2:hover{ 
    cursor: pointer;
}

.btn.btn-secondary{
    font-size: 2.4rem;
}

.btn.dropdown-toggle.btn-default{
    display: none;
}