body {
    background-color: #F5F5F5;
    font-family: 'Nunito', sans-serif;
}

.container-v2 {
    margin-top: 10rem;
    min-height: 600px;
}

h3 {
    font-size: 2.2rem;
    font-weight: 800;
}

h5 a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

a:hover { color: #4F6CFF; }

.max-width-h5 {
    max-width: 600px; 
    margin: 0 auto; 
    line-height: 1.8rem;
}

.truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
}


.extra {
    font-size: 1.4rem;
    padding: 2px;
}

.price {
    /* color: #4F6CFF; */
    color:#F14868;
    font-weight: 800;
}

.btn-v2 {
    font-size: 1.4rem;
}

.btn-danger-v2 {
    background-color: #F14868;
    border-color: #F14868;
    border-radius: 20px;
    color: white;
    padding-left: 26px;
    padding-right: 26px;
}

.btn-danger-v2:hover {
    background-color: #E14461;
    color: white;
}

.btn-link-v2 {
    color: #6e6a8eb9;
    padding-left: 0;
}

.btn-link-v2:hover{
    color: #E14461;
}

.nav-tabs-v2 {
    border-radius: 10px;
    background: #e9ecef;
    border-bottom: 0 solid transparent;
}
.nav-v2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs-v2 .nav-item-v2 {
    margin: 0.7em;
}

.nav-item-v2 a {
    border-radius: 8px !important;
    color: #9b99a7;
    font-size: 1.45rem;
    font-weight: 600;
}
#active-btn  {
    color: #4F6CFF;
}

.dropdown-v2 {
    display: none;
}

.dropdown-toggle-v2 {
    border: 3px solid #4F6CFF;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #4F6CFF;
    margin-bottom: 40px;
}
.dropdown-toggle-v2:hover {
    border: 3px solid #3753DD;
    color: #3753DD;
}

  
@media only screen and (max-width: 576px) {
    h5 a {
        margin-top: 5px;
        font-size: 1.5rem;
    }
    .extra, .price {
        font-size: 1.4rem;
    }
    .max-width-h5, .extra, .price {
        line-height: 1.8rem;
    }
    .nav-tabs-v2 {
        display: none; 
    }
    .text-center-v2 {
        text-align: center;
    }
    .dropdown-v2 {
        display: block;
    }
    h3 {
        font-size: 1.8rem;
    }
    .container-v2 {
        min-height: 700px;
    }
}

.nav-link-v2 {
    font-size: 1.5rem;
    color: #6e6a8eb9;
}
.nav-link-v2:hover {
    color: #4F6CFF;
}

.img-body {
    border-radius: 10px;
}

.bg-w {
    background-color: white;
    padding: 1.8em 2.8em;
    padding-bottom: 1em;
    border-radius: 18px;
}

#delete-btn:hover {
    color:#F14868;
}
#delete-btn:active {
    color:#F14868;
    font-weight: 600;
    text-decoration: underline;
}
#delete-btn:focus {
    outline: 0;
    box-shadow: none;
}

#orderForm-btn:active, #orderForm-btn:focus {
    font-weight: 700;
}
#orderForm-btn:active {
    text-decoration: underline;
}