body {
    background-color: #F5F5F5;
    font-family: 'Nunito', sans-serif;
}

.container-v2 {
    margin-top: 10rem;
    min-height: 600px;
}

h5 a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.9rem;
}

a:hover { color: #4F6CFF; }

.truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}

.btn-v2 {
    font-size: 1.4rem;
}

.nav-tabs-v2 {
    border-radius: 10px;
    background: #e9ecef;
    border-bottom: 0 solid transparent;
}
.nav-v2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs-v2 .nav-item-v2 {
    margin: 0.7em;
}

.nav-item-v2 a {
    border-radius: 8px !important;
    color: #9b99a7;
    font-size: 1.45rem;
    font-weight: 600;
}
#active-btn  {
    color: #4F6CFF;
}

.dropdown-v2 {
    display: none;
}

.dropdown-toggle-v2 {
    border: 3px solid #4F6CFF;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #4F6CFF;
    margin-bottom: 30px;
}
.dropdown-toggle-v2:hover {
    border: 3px solid #3753DD;
    color: #3753DD;
}

.row-v2 {
    margin-left: 0;
    margin-right: 0;
}

.nav-link-v2 {
    font-size: 1.5rem;
    color: #6e6a8eb9;
}
.nav-link-v2:hover {
    color: #4F6CFF;
}

.nav-item-child a:hover { color: #F14868; }
  
.img-v2 {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 16px 0 0;
}
.card-v2 {
    border-radius: 16px;
    border:none !important;
} 

.badge-v2 {
    font-size: 1rem;
    padding: 0.4em 0.8em;
}

.fs-v2 {
    color: #55546d;
    font-size: 1.2rem;
    margin-right: 1em;
}

/* PILL */
.nav-order-status{
    color: #9F9EB9;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    padding: 0 2em;
}

.active.nav-order-status{
    background: none !important;
    color: #9F9EB9 !important;
    border-radius: 0;
    border-bottom: 3px solid #F14868;
    margin: 0;
    z-index: 1;
    position: relative;
    color: #F14868 !important;
}

.grey-line{
    content: "";
    border-bottom: 1px solid #CBCDDF;
    position: absolute;
    top: 76%;
    height: 0%;
    width: 100%;
    z-index: 0;
}
      
@media only screen and (max-width: 576px) {
    h5 a {
        margin-top: 5px;
        font-size: 1.5rem;
    }
    .nav-tabs-v2 {
        display: none; 
    }
    .dropdown-v2 {
        display: block;
    }

    .nav-item-child a {
        font-size: 1.2rem;
    }
    .i-sm {
        display: none;
    }
    .fs-v2 {
        font-size: 1.3rem;
    }
    .truncate-text {
        -webkit-line-clamp: 3; 
    }
    .container-v2 {
        min-height: 700px;
    }
}