* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
}
html {
  font-family: Helvetica, Arial, sans-serif;
}

li {
  list-style-type: none;
}

header .header-booking {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .booking-info {
  width: fit-content;
  height: fit-content;
  padding: 12px 60px;
  background-color: #1D1A39;
  border-radius: 12px;
  box-shadow: 0px 1.2634248733520508px 12.002535820007324px 0px #00000040;    
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .booking-info .col {
  display: flex;
  align-items: center;
}

header .booking-info .block {
  width: fit-content;
  height: fit-content;
  display: flex;
}

header .booking-info .block .block-col1 {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .booking-info .block img {
  width: 30px;
  height: 30px;
}

header .booking-info .block .block-col2 {
  width: fit-content;
  height: fit-content;
}

header .booking-info .block .block-col2 .block-row1 {
  color: white;
  font-family: "Nunito";
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

header .booking-info .block .block-col2 .block-row2 {
  color: white;
  font-family: "Nunito";
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#travel {
  width: 100%;
  height: fit-content;
  margin-top: 142px;
  display: flex;
  justify-content: center;
} 

#travel .travel-container {
  width: 1100px;
  height: fit-content;
}

#travel .travel-container .path {
  padding: 35px 0 0 20px;
}

#travel .travel-container .path a {
  color: black;
  text-decoration: underline;
  font-style: italic;
}

#travel .travel-container .travel-content {
  width: 100%;
  height: fit-content;
  padding: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
}

#travel .travel-container .travel-content .filter {
  width: 23%;
  height: fit-content;
  border-radius: 21.474px;
  border: 1px solid #D3D2DB;
}

#travel .travel-container .travel-content .filter .title {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 23px;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 800;
}

#travel .travel-container .sub-filter .name, 
#travel .travel-container .sub-filter .sub-filter-option,
#travel .travel-container .sub-filter .sub-filter-slider,
#travel .travel-container .sub-filter .sub-filter-sort,
#travel .travel-container .sub-filter .sub-filter-confirm {
  margin-left: 23px;
  margin-right: 23px;
}

#travel .travel-container .sub-filter .sub-filter-confirm {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#travel .travel-container .sub-filter .sub-filter-confirm button {
  background-color: white;
  border: 0;
  color: #4F6CFF;
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 800;
}

#travel .travel-container .travel-content .filter .sub-filter-name .name {
  color: #000;
  font-family: "Nunito";
  font-size: 13px;
  font-weight: 1000;
  margin-top: 6px;
  margin-bottom: 6px;
}

#travel .travel-container .travel-content .filter .sep-line {
  width: 100%;
  height: 1px;
  border: 1.263px solid #D3D2DB;
  background-color: #D3D2DB;
}

#travel .travel-container .travel-content .filter .sub-filter-option {
  margin-top: 10px;
  margin-bottom: 10px;
}

#travel .travel-container .travel-content .filter .sub-filter-slider {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#travel .travel-container .travel-content .filter .sub-filter-sort {
  margin-top: 10px;
  margin-bottom: 10px;
}

#travel .travel-container .travel-content .mobile-filter .f-dropbox {
  border: 0;
}

#travel .travel-container .travel-content .mobile-filter .f-dropbox,
#travel .travel-container .travel-content .mobile-filter .f-dropbox option {
  color: #6E6A8E;
  font-family: "Nunito";
  font-size: 13px;
  font-weight: 700;
  margin: 0;
}

#travel .travel-container .travel-content .filter .f-option {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #6E6A8E;
  font-family: "Nunito";
  font-size: 13px;
  font-weight: 700;
  margin: 0;
}

#travel .travel-container .travel-content .filter .f-option input {
  opacity: 0;
  height: 0;
  width: 0;
}

#travel .travel-container .travel-content .filter .f-option .checkmark {
  height: 14px;
  width: 14px;
  border: 2px solid #F14868;
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}  

#travel .travel-container .travel-content .filter .f-option .sub-checkmark {
  height: 12px;
  width: 12px;
  border: 2px solid #F14868;
  border-radius: 50%;
  margin-right: 12px;
}  

#travel .travel-container .travel-content .filter .f-option .checkmark:after {
  content: "";
  display: none;
}

#travel .travel-container .travel-content .filter .f-option input:checked ~ .checkmark:after {
  display: block;
}

#travel .travel-container .travel-content .filter .f-option .checkmark:after {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #F14868;
}

#travel .travel-container .travel-content .filter .f-price-slider {
  width: 100%;
  height: 3px;
  border-radius: 10.737px;
  border: 0;
  background: rgba(110, 106, 142, 0.50);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#travel .travel-container .travel-content .filter .f-price-slider .noUi-handle {
  width: 14px;
  height: 14px;
  margin: 0;
  top: 0;
  transform: translate(-50%, -40%);
  border-radius: 8.842px;
  border: 2px solid #F14868;
  background: #F5F5F5;
  box-shadow: 0px 1px 2.5px 0px rgba(0, 0, 0, 0.25); 
}

#travel .travel-container .travel-content .filter .f-price-slider .noUi-handle::before,
#travel .travel-container .travel-content .filter .f-price-slider .noUi-handle::after {
  display: none;
}

#travel .travel-container .travel-content .filter .f-price-range {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
}

#travel .travel-container .travel-content .filter .f-price-slider .noUi-connect {
  border-radius: 10.737px;
  background: #F14868;
  box-shadow: 0px 1px 2.5px 0px rgba(0, 0, 0, 0.25);
}

#travel .travel-container .travel-content .filter-screen {
  display: none;
}

#travel .travel-container .travel-content .listtour {
  height: fit-content;
  width: 75%;
}

#travel .travel-container .tour-sort {
  display: block;
  margin-bottom: 25px;
}

#travel .travel-container .tour-sort .sort-block {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  background-color: #6E6A8E;
  border-radius: 24px;
  padding: 4px 14px;
  cursor: pointer;
}

#travel .travel-container .tour-sort .sort-block .sort-block-content {
  display: inline-block;
  color: white;
  font-size: 10px;
}

#travel .travel-container .tour-sort .sort-block img {
  display: inline-block;
}

#travel .travel-container .listtour .row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#travel .travel-container .listtour .row2 .col {
  width: 397px;
  height: 370px;
  box-shadow: 0px 2px 6px 0px #00000040;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

#travel .travel-container .listtour .row2 .col img {
  position: absolute;
  width: 100%;
  height: 203px;
  position: relative;
}

#travel .travel-container .listtour .row2 .col .content {
  margin: 8px 20px 11px 22px;
  flex: 1;
  position: relative;
}

#travel .travel-container .listtour .row2 .col .content .sub-content {
  padding-right: 20px;
}

#travel .travel-container .listtour .row2 .col .content h1{
  font-family: "Nunito";
  font-size: 15px;
  font-weight: 800;
  margin: 0;
  line-height: 20px;
}

#travel .travel-container .listtour .row2 .col .content h2{
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  line-height: 13px;
  color: #F14868;
  position: absolute;
  bottom: 0;
}

#travel .travel-container .listtour .row2 .col .content h3{
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  line-height: 13px;
}

#travel .travel-container .listtour .row2 .col .content .content-more {
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  border-radius: 18px;
  background-color: #4F6CFF;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#travel .travel-container .listtour .row2 .col .content .content-more a {
  color: #fff;
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 700;
}

#page-control {
  padding-top: 55px;
  padding-bottom: 112px;
  display: flex;
  justify-content: center;
}

#page-control .page-button {
  cursor: pointer;
}

#page-control #page-info {
  padding: 0 32px;
  height: fit-content;
  color: #000;
  font-family: "Nunito";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1260px) {
  #travel .travel-container {
      width: 100%;
  }

  #travel .travel-container .travel-content {
      justify-content: space-around;
  }

  #travel .travel-container .listtour .row2 .col {
      width: 48%;
  }
}

@media (max-width: 900px) {
  #travel .travel-container .travel-content .listtour .tour-sort,
  #travel .travel-container .travel-content .web-filter {
      display: none;
  }

  #travel .travel-container .travel-content .mobile-filter {
      display: block;
      position: fixed;
      background-color: white;
      width: 300px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
  }

  #travel .travel-container .travel-content .listtour {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
  }
}

@media (max-width: 800px) {
  header .header-booking .booking-info {
      padding-left: 10px;
      padding-right: 10px;
  }
}

@media (max-width: 600px) {
  header .header-booking .booking-info .sep-block {
      margin-left: 10px !important;
      margin-right: 10px !important;
  }
  
  #travel .travel-container .listtour .row2 {
      justify-content: center;
  }

  #travel .travel-container .listtour .row2 .col {
      width: 100%;
      max-width: 397px;
  }
}

@media (max-width: 500px) {
  header .header-booking .option-down {
      display: none;
  }
}


@media (max-width: 400px) {
  #travel .travel-container .travel-content .mobile-filter {
    width: 250px;
  }
}

@media (max-width: 800px) {
  #travel .travel-container .listtour .row2 .col {
      height: 420px;
  }
}