* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../font/Inter-Medium.ttf') format('truetype');
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

li {
    list-style-type: none;
}

#main {

}

#header {
    height: 142px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .header-container {
    width: fit-content;
    height: 100%;
    padding: 28px 0 8px 0;
    display: flex;
    align-items: start;
    justify-content: space-between; 
    flex-direction: column;
}

#header .header-content {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-background {
    background-color: #0D0C1B;
}

.logo {
    background-color: #D9D9D9;
}

#header .logo {
    width: 40px;
    height: 40px;
    margin-right: 52px;
    border-radius: 4px;
}

#nav {
    height: fit-content;
    width: 962px;
    display: flex;
    justify-content: space-between;
}

#nav .sub-nav {
    display: flex;
    align-items: center;
}

#nav .sub-nav li {
    width: 90px;
    height: 30px;
}

#nav .sub-nav li a {
    color: #fff;
    width: inherit;
    height: inherit;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 13px;
    line-height: 13.79px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
}
  
#nav .sub-nav li:hover {
    background-color: #F14868;
    border-radius: 8px;
}

#nav .sub-nav li:hover a {
    font-weight: 800;
}

.nav-button-active {
    background-color: #F14868;
    border-radius: 8px;
}

#nav .left-nav li {
    margin-right: 40px;
}

#nav .right-nav {
    justify-content: flex-end;
}

#nav .right-nav li {
    margin-left: 40px;
}

#header .header-booking {
    display: flex;
    align-items: center;
    left: 0;
}

#header .booking-info {
    width: fit-content;
    height: fit-content;
    padding: 12px 60px;
    background-color: #1D1A39;
    border-radius: 12px;
    box-shadow: 0px 1.2634248733520508px 12.002535820007324px 0px #00000040;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .booking-info .col {
    display: flex;
    align-items: center;
}

#header .booking-info .block {
    width: fit-content;
    height: fit-content;
    display: flex;
}

#header .booking-info .block .block-col1 {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .booking-info .block img {
    width: 30px;
    height: 30px;
}

#header .booking-info .block .block-col2 {
    width: fit-content;
    height: fit-content;
}

#header .booking-info .block .block-col2 .block-row1 {
    color: white;
    font-family: "Nunito";
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#header .booking-info .block .block-col2 .block-row2 {
    color: white;
    font-family: "Nunito";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#footer {
    height: 275px;
    background-color: #16142D;
    display: flex;
    justify-content: center;
    position: relative;
}

#footer h1 {
    font-family: "Inter";
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-top: 0;
}

#footer h2 {
    font-family: "Inter";
    font-size: 19px;
    font-weight: 800;
    color: #fff;
    margin-top: 0;
}

#footer h3, 
#footer a {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

#footer .footer-container {
    width: 1078px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer .footer-container .col {
    height: fit-content;
}

#footer .footer-container .col1 {
    width: 427px;
    display: flex;
    justify-content: space-between;
}

#footer .footer-container .col1 .logo {
    width: 127px;
    height: 127px;
    border-radius: 8px;
}

#footer .footer-container .col1 .content {
    width: 270px;
}

#footer .footer-container .col2 {
    width: 330px;
    display: flex;
    align-items: center;
}

#footer .footer-container .col2 .content {
    width: 330px;
}

#footer .footer-container .col2 .content .decor {
    width: 136px;
    display: flex;
    justify-content: space-between;
}

#footer .footer-container .col2 .content .decor .decor-block {
    width: 34px;
    height: 34px;
    background-color: #D9D9D9;
}

#footer .footer-container .col3 {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .footer-container .col3 .content {
    width: 100px;
}

#travel {
    height: fit-content;
    margin: 142px 211px 0 211px;
}

#travel .path {
    padding: 35px 0 0 20px;
}

#travel .path a {
    color: black;
    text-decoration: underline;
    font-style: italic;
}

#travel .travel-content {
    height: fit-content;
    padding: 25px 0 0 0;
    display: flex;
    justify-content: space-between;
}

#travel .travel-content .filter {
    width: 227px;
    height: fit-content;
    border-radius: 21.474px;
    border: 1px solid #D3D2DB;
}

#travel .travel-content .filter .title {
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 23px;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 800;
}

#travel .sub-filter .name, 
#travel .sub-filter .sub-filter-option,
#travel .sub-filter .sub-filter-slider {
    margin-left: 23px;
    margin-right: 23px;
}
  
#travel .travel-content .filter .sub-filter-name .name {
    color: #000;
    font-family: "Nunito";
    font-size: 13px;
    font-weight: 1000;
    margin-top: 6px;
    margin-bottom: 6px;
}

#travel .travel-content .filter .sub-filter-name .sep-line {
    width: inherit;
    height: 1px;
    border: 1.263px solid #D3D2DB;
    background-color: #D3D2DB;
}

#travel .travel-content .filter .sub-filter-option {
    margin-top: 10px;
    margin-bottom: 10px;
}

#travel .travel-content .filter .sub-filter-slider {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#travel .travel-content .filter .f-option {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #6E6A8E;
    font-family: "Nunito";
    font-size: 13px;
    font-weight: 700;
    margin: 0;
}

#travel .travel-content .filter .f-option input {
    opacity: 0;
    height: 0;
    width: 0;
}

#travel .travel-content .filter .f-option .checkmark {
    height: 14px;
    width: 14px;
    border: 2px solid #F14868;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}  

#travel .travel-content .filter .f-option .sub-checkmark {
    height: 12px;
    width: 12px;
    border: 2px solid #F14868;
    border-radius: 50%;
    margin-right: 12px;
}  

#travel .travel-content .filter .f-option .checkmark:after {
    content: "";
    display: none;
}

#travel .travel-content .filter .f-option input:checked ~ .checkmark:after {
    display: block;
}
  
#travel .travel-content .filter .f-option .checkmark:after {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #F14868;
}

#travel .travel-content .filter #f-price-slider {
    width: 177px;
    height: 3px;
    border-radius: 10.737px;
    border: 0;
    background: rgba(110, 106, 142, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#travel .travel-content .filter #f-price-slider .noUi-handle {
    width: 14px;
    height: 14px;
    margin: 0;
    top: 0;
    transform: translate(-50%, -40%);
    border-radius: 8.842px;
    border: 2px solid #F14868;
    background: #F5F5F5;
    box-shadow: 0px 1px 2.5px 0px rgba(0, 0, 0, 0.25); 
}

#travel .travel-content .filter #f-price-slider .noUi-handle::before,
#travel .travel-content .filter #f-price-slider .noUi-handle::after {
    display: none;
}

#travel .travel-content .filter .f-price-range {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

#travel .travel-content .filter #f-price-slider .noUi-connect {
    border-radius: 10.737px;
    background: #F14868;
    box-shadow: 0px 1px 2.5px 0px rgba(0, 0, 0, 0.25);
}

#travel .travel-content .listtour {
    height: fit-content;
    width: fit-content;
}

#travel .listtour .tour-sort {
    display: block;
    margin-bottom: 25px;
}

#travel .listtour .tour-sort .sort-block {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: #6E6A8E;
    border-radius: 24px;
    padding: 4px 14px;
}

#travel .listtour .tour-sort .sort-block .sort-block-content {
    display: inline-block;
    color: white;
    font-size: 10px;
}

#travel .listtour .tour-sort .sort-block img {
    display: inline-block;
}

#travel .listtour .row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 27px;
}

#travel .listtour .row2 .col {
    width: 397px;
    height: 335px;
    box-shadow: 0px 2px 6px 0px #00000040;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
}

#travel .listtour .row2 .col img {
    position: absolute;
    width: inherit;
    height: 203px;
    position: relative;
}

#travel .listtour .row2 .col .content {
    margin: 8px 20px 11px 22px;
    flex: 1;
    position: relative;
}

#travel .listtour .row2 .col .content .sub-content {
    padding-right: 20px;
}

#travel .listtour .row2 .col .content h1{
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 800;
    margin: 0;
    line-height: 20px;
}

#travel .listtour .row2 .col .content h2{
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    line-height: 13px;
    color: #F14868;
    position: absolute;
    bottom: 0;
}

#travel .listtour .row2 .col .content h3{
    font-family: "Nunito";
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    line-height: 13px;
}

#travel .listtour .row2 .col .content .content-more {
    width: fit-content;
    height: fit-content;
    padding: 5px 12px;
    border-radius: 18px;
    background-color: #4F6CFF;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#travel .listtour .row2 .col .content .content-more a {
    color: #fff;
    font-family: "Nunito";
    font-size: 12px;
    font-weight: 700;
}

#travel .listtour .page-control {
    padding-top: 55px;
    padding-bottom: 112px;
    display: flex;
    justify-content: center;
}

#travel .listtour .page-control .page-button {
    cursor: pointer;
}

#travel .listtour .page-control #page-info {
    padding: 0 32px;
    height: fit-content;
    color: #000;
    font-family: "Nunito";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}