<link rel="stylesheet" href="/css/baidang.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://preview.keenthemes.com/keen/demo1/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="https://preview.keenthemes.com/keen/demo1/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<ul class="nav nav-pills mb-3 position-relative d-flex justify-content-between" id="ex1" role="tablist">
    <div class="grey-line"></div>
    <div class="nav-item d-flex">
        <li class="nav-item" role="presentation">
            <a class="nav-link active nav-order-status" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1"
                role="tab" aria-controls="ex1-pills-1" aria-selected="false">Đang hoạt động</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link nav-order-status" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab"
                aria-controls="ex1-pills-2" aria-selected="true">Đã kết thúc</a>
        </li>
    </div>
    <li class="nav-item d-none d-sm-block">
        <div class="input-group">
            <div class="form-outline">
                <button class="trang-thai" data-bs-toggle="modal" data-bs-target="#kt_modal_new_address" id="tao-tour">+ Tạo Tour</button>
            </div>
        </div>
    </li>
</ul>

<div class="container-fluid">
                
    <div class="col-md-9 col-9">
    </div>  
    <div class="row">
    <div class="col-md-6 col-xxl-3">
        <div class="pageContainer">

        <div class="card d-block">
            <div class="card-body"style="background: linear-gradient(0deg, #E9ECF9 0%, #E9ECF9 100%), #FFF; padding:0">
  
            </div> 
        </div>
        </div>
    </div>
    <div id="pagination"></div>
    </div>
    </div>
    <div class="pagination-container d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination" id="pagination">
            <!-- Các liên kết phân trang sẽ được tạo bằng JavaScript -->
          </ul>
        </nav>
    </div>
    <!-- modal -->
    <div class="modal fade" id="kt_modal_new_address" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px">

            <!-- header modal -->
            <div class="modal-content">
                <form class="form" action="#" id="kt_modal_new_address_form">
                    <div class="modal-header" id="kt_modal_new_address_header">
                        <h2>Thông tin tour</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- nội dung -->
                    <div class="modal-body py-10 px-lg-17">
                        <div
                            class="scroll-y me-n7 pe-7"
                            id="kt_modal_new_address_scroll"
                            data-kt-scroll="true"
                            data-kt-scroll-activate="{default: false, lg: true}"
                            data-kt-scroll-max-height="auto"
                            data-kt-scroll-dependencies="#kt_modal_new_address_header"
                            data-kt-scroll-wrappers="#kt_modal_new_address_scroll"
                            data-kt-scroll-offset="300px"
                        >
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2" id="ma-tour" >Mã tour</label>
                            <input class="form-control" placeholder="" id="ma-tour-input"/>
                            <label class="fs-5 fw-semibold mb-2" id="ten-tour">Tên tour</label>
                            <input class="form-control" placeholder="" id="ten-tour-input"/>
                            <label class="fs-5 fw-semibold mb-2" id="diem-khoi-hanh">Điểm khởi hành</label>
                            <input class="form-control" placeholder="" id="diem-khoi-hanh-input"/> 
                            <label class="fs-5 fw-semibold mb-2" id="diem-den">Điểm đến</label>
                            <input class="form-control" placeholder="" id="diem-den-input"/>
                        </div>
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2" id="gia-ve-nguoi-lon">Giá vé người lớn</label>
                            <input class="form-control" placeholder="" id="gia-ve-nguoi-lon-input"/>
                            <div class="row g-9 mb-5" id="ngay-gio-khoihanh">
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Ngày khởi hành</label>
                                    <input class="form-control" placeholder="" id="ngay-khoi-hanh-input"/>
                                </div>
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Giờ khởi hành</label>
                                    <input class="form-control" placeholder="" id="gio-khoi-hanh-input"/>
                                </div>
                            </div>
                            <label class="fs-5 fw-semibold mb-2" id="gia-ve-nguoi-lon">Số vé bán</label>
                            <input class="form-control" placeholder="" id="so-ve-ban-input"/>
                        </div>
                        <div class="d-flex flex-column mb-5 fv-row" id="hinhanh">
                            <label class="fs-5 fw-semibold mb-2" id="gia-ve-nguoi-lon">Hình 1(card)</label>
                            <input class="form-control" placeholder="" id="hinh1-input"/>
                            <div class="row g-9 mb-5" id="hinh-2-3">
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 2</label>
                                    <input class="form-control" placeholder="" id="hinh2-input"/>
                                </div>
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 3</label>
                                    <input class="form-control" placeholder="" id="hinh3-input"/>
                                </div>
                            </div>
                            <div class="row g-9 mb-5">
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 4</label>
                                    <input class="form-control" placeholder="" id="hinh4-input"/>
                                </div>
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 5</label>
                                    <input class="form-control" placeholder="" id="hinh5-input"/>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2" id="phuong-tien" >Phương tiện</label>
                            <input class="form-control" placeholder="" id="phuong-tien-input"/>
                            <label class="fs-5 fw-semibold mb-2" id="am-thuc">Ẩm thực</label>
                            <input class="form-control" placeholder="" id="am-thuc-input"/>
                            <label class="fs-5 fw-semibold mb-2" id="khach-san">Khách sạn</label>
                            <input class="form-control" placeholder="" id="khach-san-input"/> 
                        </div>
                        <!-- <div class="d-flex flex-column fv-row" id="ngay-container">
                            <label class="fs-5 fw-semibold mb-2" id="thongtintungngay" >Ngày 1</label>
                            <input class="form-control" placeholder=""/>
                            <div class="text-input" contenteditable id="ngay1-input"></div>
                        </div>
                        <div class="d-flex flex-column fv-row" id="ngay-container">
                            <label class="fs-5 fw-semibold mb-2" id="thongtintungngay">Ngày 2</label>
                            <input class="form-control" placeholder=""/>
                            <div class="text-input" contenteditable id="ngay2-input"></div>
                        </div> -->
                        <div id="ngay-container">
                            <div class="d-flex flex-column fv-row" id="container-ngay-1">
                              <label class="fs-5 fw-semibold mb-2" id="thongtintungngay-1">Ngày 1</label>
                              <input class="form-control" placeholder="" />
                              <div class="text-input" contenteditable id="ngay1-input"></div>
                            </div>
                            <div class="d-flex flex-column fv-row" id="container-ngay-2">
                                <label class="fs-5 fw-semibold mb-2" id="thongtintungngay-2">Ngày 2</label>
                                <input class="form-control" placeholder="" />
                                <div class="text-input" contenteditable id="ngay2-input"></div>
                              </div>
                          </div>
                        <div class="row"> 
                            <div class=" col-md-6 col-6"> 
                                <div class="d-flex flex-center" id="bot-ngay">
                                <button id="button-bot-ngay">Bớt Ngày</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="d-flex flex-center" id="them-ngay">
                                <button id="button-them-ngay">Thêm Ngày</button>
                                </div>
                            </div> 
                        </div>
                          
                        

                    </div>


                    <!-- footer modal -->
                    <div class="modal-footer flex-center">
                        <!-- <button type="reset" id="kt_modal_new_address_cancel" class="btn btn-light me-3">Discard</button> -->
                        <button type="submit" id="kt_modal_new_address_submit" class="btn btn-primary">
                            <span class="indicator-label">Submit</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal -->
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận Xóa Tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa tài khoản không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-delete-btn" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger modal-delete-btn" id="confirmDeleteButton"  data-bs-dismiss="modal" aria-label="Close">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script  src="https://preview.keenthemes.com/keen/demo1/assets/js/scripts.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
<script  src="/js/baidang.js"></script>