<link rel="stylesheet" href="/css/baidang.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<link href="https://preview.keenthemes.com/keen/demo1/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="https://preview.keenthemes.com/keen/demo1/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<ul class="nav nav-pills mb-3 position-relative d-flex justify-content-between" id="ex1" role="tablist">
    <div class="grey-line"></div>
    <div class="nav-item d-flex">
        <li class="nav-item" role="presentation">
            <a class="nav-link active nav-order-status" id="ex1-tab-1"  data-mdb-toggle="pill" 
                role="tab" aria-controls="ex1-pills-1" aria-selected="false">Đang hoạt động</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link nav-order-status" id="ex1-tab-2"  data-mdb-toggle="pill"  role="tab"
                aria-controls="ex1-pills-2" aria-selected="true">Đã kết thúc</a>
        </li>
    </div>
    <li class="nav-item d-none d-sm-block">
        <div class="input-group">
            <div class="form-outline">
                <button class="trang-thai" data-bs-toggle="modal" data-bs-target="#kt_modal_new_address" id="tao-tour">+ Tạo Tour</button>
            </div>
        </div>
    </li>
</ul>

<div class="container-fluid">
                
    <div class="col-md-9 col-9">
    </div>  
    <div class="row">
    <div class="col-md-6 col-xxl-3">
        <div class="pageContainer">

        <div class="card d-block">
            <div class="card-body"style="background: linear-gradient(0deg, #E9ECF9 0%, #E9ECF9 100%), #FFF; padding:0">
  
            </div> 
        </div>
        </div>
    </div>
    <div id="pagination"></div>
    </div>
    </div>
    <div class="pagination-container d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination" id="pagination">
            <!-- Các liên kết phân trang sẽ được tạo bằng JavaScript -->
          </ul>
        </nav>
    </div>
    <!-- modal -->
    <div class="modal fade" id="kt_modal_new_address" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px">

            <!-- header modal -->
            <div class="modal-content">
                <form class="form" action="#" id="kt_modal_new_address_form">
                    <div class="modal-header" id="kt_modal_new_address_header">
                        <h2>Thông tin tour</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal-change"></button>
                    </div>

                    <!-- nội dung -->
                    <div class="modal-body py-10 px-lg-17">
                        <div
                            class="scroll-y me-n7 pe-7"
                            id="kt_modal_new_address_scroll"
                            data-kt-scroll="true"
                            data-kt-scroll-activate="{default: false, lg: true}"
                            data-kt-scroll-max-height="auto"
                            data-kt-scroll-dependencies="#kt_modal_new_address_header"
                            data-kt-scroll-wrappers="#kt_modal_new_address_scroll"
                            data-kt-scroll-offset="300px"
                        >
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2" id="ma-tour" >Mã tour</label>
                            <input class="form-control" placeholder="" id="ma-tour-input"/>
                            <label class="fs-5 fw-semibold mb-2" id="ten-tour">Tên tour</label>
                            <input class="form-control" placeholder="" id="ten-tour-input"/>
                            <label class="fs-5 fw-semibold mb-2" id="diem-khoi-hanh">Điểm khởi hành</label>
                            <select class="form-select" aria-label="Default select example" id="diem-khoi-hanh-input">
                                <option value="">Chọn điểm khởi hành</option>
                                <option value="01">An Giang</option>
                                <option value="12">Cà Mau</option>
                                <option value="25">Hà Tĩnh</option>
                                <option value="08">Bình Dương</option>
                                <option value="04">Bắc Giang</option>
                                <option value="38">Lâm Đồng</option>
                                <option value="14">Cần Thơ</option>
                                <option value="31">Hưng Yên</option>
                                <option value="32">Khánh Hòa</option>
                                <option value="41">Nghệ An</option>
                                <option value="44">Phú Thọ</option>
                                <option value="52">Sơn La</option>
                                <option value="53">Tây Ninh</option>
                                <option value="19">Đồng Nai</option>
                                <option value="20">Đồng Tháp</option>
                                <option value="22">Hà Giang</option>
                                <option value="23">Hà Nam</option>
                                <option value="35">Lai Châu</option>
                                <option value="37">Lào Cai</option>
                                <option value="45">Phú Yên</option>
                                <option value="07">Bến Tre</option>
                                <option value="26">Hải Dương</option>
                                <option value="50">Quảng Trị</option>
                                <option value="42">Ninh Bình</option>
                                <option value="62">Vĩnh Phúc</option>
                                <option value="05">Bắc Kạn</option>
                                <option value="09">Bình Định</option>
                                <option value="28">Hậu Giang</option>
                                <option value="02">Bà Rịa – Vũng Tàu</option>
                                <option value="11">Bình Thuận</option>
                                <option value="24">Hà Nội</option>
                                <option value="58">Tiền Giang</option>
                                <option value="60">Tuyên Quang</option>
                                <option value="13">Cao Bằng</option>
                                <option value="15">Đà Nẵng</option>
                                <option value="47">Quảng Nam</option>
                                <option value="29">Hòa Bình</option>
                                <option value="10">Bình Phước</option>
                                <option value="16">Đắk Lắk</option>
                                <option value="39">Long An</option>
                                <option value="49">Quảng Ninh</option>
                                <option value="55">Thái Nguyên</option>
                                <option value="63">Yên Bái</option>
                                <option value="17">Đắk Nông</option>
                                <option value="46">Quảng Bình</option>
                                <option value="48">Quảng Ngãi</option>
                                <option value="56">Thanh Hóa</option>
                                <option value="03">Bạc Liêu</option>
                                <option value="18">Điện Biên</option>
                                <option value="57">Thừa Thiên Huế</option>
                                <option value="21">Gia Lai</option>
                                <option value="36">Lạng Sơn</option>
                                <option value="43">Ninh Thuận</option>
                                <option value="59">Trà Vinh</option>
                                <option value="06">Bắc Ninh</option>
                                <option value="33">Kiên Giang</option>
                                <option value="34">Kon Tum</option>
                                <option value="40">Nam Định</option>
                                <option value="30">TP Hồ Chí Minh</option>
                                <option value="27">Hải Phòng</option>
                                <option value="51">Sóc Trăng</option>
                                <option value="54">Thái Bình</option>
                                <option value="61">Vĩnh Long</option>
                              </select>
                            <label class="fs-5 fw-semibold mb-2" id="diem-den">Điểm đến</label>
                            <select class="form-select" multiple aria-label="multiple select example" id="diem-den-input">
                                <option value="01">An Giang</option>
                                <option value="12">Cà Mau</option>
                                <option value="25">Hà Tĩnh</option>
                                <option value="08">Bình Dương</option>
                                <option value="04">Bắc Giang</option>
                                <option value="38">Lâm Đồng</option>
                                <option value="14">Cần Thơ</option>
                                <option value="31">Hưng Yên</option>
                                <option value="32">Khánh Hòa</option>
                                <option value="41">Nghệ An</option>
                                <option value="44">Phú Thọ</option>
                                <option value="52">Sơn La</option>
                                <option value="53">Tây Ninh</option>
                                <option value="19">Đồng Nai</option>
                                <option value="20">Đồng Tháp</option>
                                <option value="22">Hà Giang</option>
                                <option value="23">Hà Nam</option>
                                <option value="35">Lai Châu</option>
                                <option value="37">Lào Cai</option>
                                <option value="45">Phú Yên</option>
                                <option value="07">Bến Tre</option>
                                <option value="26">Hải Dương</option>
                                <option value="50">Quảng Trị</option>
                                <option value="42">Ninh Bình</option>
                                <option value="62">Vĩnh Phúc</option>
                                <option value="05">Bắc Kạn</option>
                                <option value="09">Bình Định</option>
                                <option value="28">Hậu Giang</option>
                                <option value="02">Bà Rịa – Vũng Tàu</option>
                                <option value="11">Bình Thuận</option>
                                <option value="24">Hà Nội</option>
                                <option value="58">Tiền Giang</option>
                                <option value="60">Tuyên Quang</option>
                                <option value="13">Cao Bằng</option>
                                <option value="15">Đà Nẵng</option>
                                <option value="47">Quảng Nam</option>
                                <option value="29">Hòa Bình</option>
                                <option value="10">Bình Phước</option>
                                <option value="16">Đắk Lắk</option>
                                <option value="39">Long An</option>
                                <option value="49">Quảng Ninh</option>
                                <option value="55">Thái Nguyên</option>
                                <option value="63">Yên Bái</option>
                                <option value="17">Đắk Nông</option>
                                <option value="46">Quảng Bình</option>
                                <option value="48">Quảng Ngãi</option>
                                <option value="56">Thanh Hóa</option>
                                <option value="03">Bạc Liêu</option>
                                <option value="18">Điện Biên</option>
                                <option value="57">Thừa Thiên Huế</option>
                                <option value="21">Gia Lai</option>
                                <option value="36">Lạng Sơn</option>
                                <option value="43">Ninh Thuận</option>
                                <option value="59">Trà Vinh</option>
                                <option value="06">Bắc Ninh</option>
                                <option value="33">Kiên Giang</option>
                                <option value="34">Kon Tum</option>
                                <option value="40">Nam Định</option>
                                <option value="30">TP Hồ Chí Minh</option>
                                <option value="27">Hải Phòng</option>
                                <option value="51">Sóc Trăng</option>
                                <option value="54">Thái Bình</option>
                                <option value="61">Vĩnh Long</option>
                              </select>
                        </div>
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2" id="gia-ve-nguoi-lon">Giá vé người lớn</label>
                            <input class="form-control" placeholder="" id="gia-ve-nguoi-lon-input"/>
                            <div class="row g-9 mb-5" id="ngay-gio-khoihanh" style="margin-top: 0;">
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Ngày khởi hành</label>
                                    <input type="date" class="form-control" placeholder="" id="ngay-khoi-hanh-input"/>
                                </div>
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Giờ khởi hành</label>
                                    <input type="time" class="form-control" placeholder="" id="gio-khoi-hanh-input"/>
                                </div>
                            </div>
                            <label class="fs-5 fw-semibold mb-2" id="gia-ve-nguoi-lon">Số vé bán</label>
                            <input type="number" class="form-control" placeholder="" id="so-ve-ban-input"/>
                        </div>
                        <div class="d-flex flex-column mb-5 fv-row" id="hinhanh">
                            <label class="fs-5 fw-semibold mb-2" id="gia-ve-nguoi-lon">Hình 1(card)</label>
                            <input class="form-control" placeholder="" id="hinh1-input"/>
                            <div class="row g-9 mb-5" id="hinh-2-3" style="margin-top: 0;">
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="hinh-2">Hình 2</label>                                    <input class="form-control" placeholder="" id="hinh2-input"/>
                                </div>
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="hinh-3">Hình 3</label>
                                    <input class="form-control" placeholder="" id="hinh3-input"/>
                                </div>
                            </div>
                            <div class="row g-9 mb-5">
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 4</label>
                                    <input class="form-control" placeholder="" id="hinh4-input"/>
                                </div>
                                <div class="col-md-6 fv-row">
                                    <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 5</label>
                                    <input class="form-control" placeholder="" id="hinh5-input"/>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fs-5 fw-semibold mb-2" id="phuong-tien" >Phương tiện</label>
                            <input class="form-control" placeholder="" id="phuong-tien-input"/>
                            <label class="fs-5 fw-semibold mb-2" id="am-thuc">Ẩm thực</label>
                            <input class="form-control" placeholder="" id="am-thuc-input"/>
                            <label class="fs-5 fw-semibold mb-2" id="khach-san">Khách sạn</label>
                            <input class="form-control" placeholder="" id="khach-san-input"/> 
                        </div>
                        <div id="ngay-container">
                            <div class="d-flex flex-column fv-row" id="container-ngay-1">
                              <label class="fs-5 fw-semibold mb-2" id="thongtintungngay-1">Ngày 1</label>
                              <input class="form-control" placeholder="" id="ngay1" />
                              <div class="text-input" contenteditable id="ngay1-input"></div>
                            </div>
                            <div class="d-flex flex-column fv-row" id="container-ngay-2">
                                <label class="fs-5 fw-semibold mb-2" id="thongtintungngay-2">Ngày 2</label>
                                <input class="form-control" placeholder="" id="ngay2" />
                                <div class="text-input" contenteditable id="ngay2-input"></div>
                              </div>
                          </div>
                        <div class="row"> 
                            <div class=" col-md-6 col-6"> 
                                <div class="d-flex flex-center" id="bot-ngay">
                                <button id="button-bot-ngay">Bớt Ngày</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="d-flex flex-center" id="them-ngay">
                                <button id="button-them-ngay">Thêm Ngày</button>
                                </div>
                            </div> 
                        </div>
                          
                        

                    </div>


                    <!-- footer modal -->
                    <div class="modal-footer flex-center">
                        <!-- <button type="reset" id="kt_modal_new_address_cancel" class="btn btn-light me-3">Discard</button> -->
                        <button type="submit" id="done-tao-tour" class="btn btn-primary">
                            <span class="indicator-label">Tạo tour</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal -->
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận Ẩn Tour</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn ẩn tour này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-delete-btn" data-bs-dismiss="modal"id="huy">Hủy</button>
                <button type="button" class="btn btn-danger modal-delete-btn" id="confirmDeleteButton"  data-bs-dismiss="modal" aria-label="Close">Ẩn</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmdisplayModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận Hiện Tour</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn hiện tour này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-delete-btn" data-bs-dismiss="modal" id="huy">Hủy</button>
                <button type="button" class="btn btn-danger modal-delete-btn" id="confirmdisplayButton"  data-bs-dismiss="modal" aria-label="Close">Hiện</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="chinh-sua-tour-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-650px">

        <!-- header modal -->
        <div class="modal-content">
            <form class="form" action="#" id="kt_modal_new_address_form">
                <div class="modal-header" id="kt_modal_new_address_header">
                    <h2>Chỉnh sửa thông tin tour</h2>
                    <button id="closeModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- nội dung -->
                <div class="modal-body py-10 px-lg-17">
                    <div
                        class="scroll-y me-n7 pe-7"
                        id="kt_modal_new_address_scroll"
                        data-kt-scroll="true"
                        data-kt-scroll-activate="{default: false, lg: true}"
                        data-kt-scroll-max-height="auto"
                        data-kt-scroll-dependencies="#kt_modal_new_address_header"
                        data-kt-scroll-wrappers="#kt_modal_new_address_scroll"
                        data-kt-scroll-offset="300px"
                    >
                    <div class="d-flex flex-column mb-5 fv-row">
                        <label class="fs-5 fw-semibold mb-2" id="ten-tour">Mã tour</label>
                        <input class="form-control" placeholder="" id="ma-tour-change"/>
                        <label class="fs-5 fw-semibold mb-2" id="ten-tour">Tên tour</label>
                        <input class="form-control" placeholder="" id="ten-tour-change"/>
                        <label class="fs-5 fw-semibold mb-2" id="diem-khoi-hanh">Điểm khởi hành</label>
                        <select class="form-select" aria-label="Default select example" id="diem-khoi-hanh-change">
                            <option value="">Chọn điểm khởi hành</option>
                            <option value="01">An Giang</option>
                            <option value="12">Cà Mau</option>
                            <option value="25">Hà Tĩnh</option>
                            <option value="08">Bình Dương</option>
                            <option value="04">Bắc Giang</option>
                            <option value="38">Lâm Đồng</option>
                            <option value="14">Cần Thơ</option>
                            <option value="31">Hưng Yên</option>
                            <option value="32">Khánh Hòa</option>
                            <option value="41">Nghệ An</option>
                            <option value="44">Phú Thọ</option>
                            <option value="52">Sơn La</option>
                            <option value="53">Tây Ninh</option>
                            <option value="19">Đồng Nai</option>
                            <option value="20">Đồng Tháp</option>
                            <option value="22">Hà Giang</option>
                            <option value="23">Hà Nam</option>
                            <option value="35">Lai Châu</option>
                            <option value="37">Lào Cai</option>
                            <option value="45">Phú Yên</option>
                            <option value="07">Bến Tre</option>
                            <option value="26">Hải Dương</option>
                            <option value="50">Quảng Trị</option>
                            <option value="42">Ninh Bình</option>
                            <option value="62">Vĩnh Phúc</option>
                            <option value="05">Bắc Kạn</option>
                            <option value="09">Bình Định</option>
                            <option value="28">Hậu Giang</option>
                            <option value="02">Bà Rịa – Vũng Tàu</option>
                            <option value="11">Bình Thuận</option>
                            <option value="24">Hà Nội</option>
                            <option value="58">Tiền Giang</option>
                            <option value="60">Tuyên Quang</option>
                            <option value="13">Cao Bằng</option>
                            <option value="15">Đà Nẵng</option>
                            <option value="47">Quảng Nam</option>
                            <option value="29">Hòa Bình</option>
                            <option value="10">Bình Phước</option>
                            <option value="16">Đắk Lắk</option>
                            <option value="39">Long An</option>
                            <option value="49">Quảng Ninh</option>
                            <option value="55">Thái Nguyên</option>
                            <option value="63">Yên Bái</option>
                            <option value="17">Đắk Nông</option>
                            <option value="46">Quảng Bình</option>
                            <option value="48">Quảng Ngãi</option>
                            <option value="56">Thanh Hóa</option>
                            <option value="03">Bạc Liêu</option>
                            <option value="18">Điện Biên</option>
                            <option value="57">Thừa Thiên Huế</option>
                            <option value="21">Gia Lai</option>
                            <option value="36">Lạng Sơn</option>
                            <option value="43">Ninh Thuận</option>
                            <option value="59">Trà Vinh</option>
                            <option value="06">Bắc Ninh</option>
                            <option value="33">Kiên Giang</option>
                            <option value="34">Kon Tum</option>
                            <option value="40">Nam Định</option>
                            <option value="30">TP Hồ Chí Minh</option>
                            <option value="27">Hải Phòng</option>
                            <option value="51">Sóc Trăng</option>
                            <option value="54">Thái Bình</option>
                            <option value="61">Vĩnh Long</option>
                          </select>
                        <label class="fs-5 fw-semibold mb-2" id="diem-den">Điểm đến</label>
                        <select class="form-select" multiple aria-label="multiple select example" id="diem-den-change-input">
                            <option value="01">An Giang</option>
                            <option value="12">Cà Mau</option>
                            <option value="25">Hà Tĩnh</option>
                            <option value="08">Bình Dương</option>
                            <option value="04">Bắc Giang</option>
                            <option value="38">Lâm Đồng</option>
                            <option value="14">Cần Thơ</option>
                            <option value="31">Hưng Yên</option>
                            <option value="32">Khánh Hòa</option>
                            <option value="41">Nghệ An</option>
                            <option value="44">Phú Thọ</option>
                            <option value="52">Sơn La</option>
                            <option value="53">Tây Ninh</option>
                            <option value="19">Đồng Nai</option>
                            <option value="20">Đồng Tháp</option>
                            <option value="22">Hà Giang</option>
                            <option value="23">Hà Nam</option>
                            <option value="35">Lai Châu</option>
                            <option value="37">Lào Cai</option>
                            <option value="45">Phú Yên</option>
                            <option value="07">Bến Tre</option>
                            <option value="26">Hải Dương</option>
                            <option value="50">Quảng Trị</option>
                            <option value="42">Ninh Bình</option>
                            <option value="62">Vĩnh Phúc</option>
                            <option value="05">Bắc Kạn</option>
                            <option value="09">Bình Định</option>
                            <option value="28">Hậu Giang</option>
                            <option value="02">Bà Rịa – Vũng Tàu</option>
                            <option value="11">Bình Thuận</option>
                            <option value="24">Hà Nội</option>
                            <option value="58">Tiền Giang</option>
                            <option value="60">Tuyên Quang</option>
                            <option value="13">Cao Bằng</option>
                            <option value="15">Đà Nẵng</option>
                            <option value="47">Quảng Nam</option>
                            <option value="29">Hòa Bình</option>
                            <option value="10">Bình Phước</option>
                            <option value="16">Đắk Lắk</option>
                            <option value="39">Long An</option>
                            <option value="49">Quảng Ninh</option>
                            <option value="55">Thái Nguyên</option>
                            <option value="63">Yên Bái</option>
                            <option value="17">Đắk Nông</option>
                            <option value="46">Quảng Bình</option>
                            <option value="48">Quảng Ngãi</option>
                            <option value="56">Thanh Hóa</option>
                            <option value="03">Bạc Liêu</option>
                            <option value="18">Điện Biên</option>
                            <option value="57">Thừa Thiên Huế</option>
                            <option value="21">Gia Lai</option>
                            <option value="36">Lạng Sơn</option>
                            <option value="43">Ninh Thuận</option>
                            <option value="59">Trà Vinh</option>
                            <option value="06">Bắc Ninh</option>
                            <option value="33">Kiên Giang</option>
                            <option value="34">Kon Tum</option>
                            <option value="40">Nam Định</option>
                            <option value="30">TP Hồ Chí Minh</option>
                            <option value="27">Hải Phòng</option>
                            <option value="51">Sóc Trăng</option>
                            <option value="54">Thái Bình</option>
                            <option value="61">Vĩnh Long</option>
                          </select>
                    </div>
                    <div class="d-flex flex-column mb-5 fv-row">
                        <label class="fs-5 fw-semibold mb-2" id="gia-ve-nguoi-lon">Giá vé người lớn</label>
                        <input class="form-control" placeholder="" id="gia-ve-nguoi-lon-change"/>
                        <div class="row g-9 mb-5" id="ngay-gio-khoihanh">
                            <div class="col-md-6 col-6">
                                <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Ngày khởi hành</label>
                                <input class="form-control" placeholder="" id="ngay-khoi-hanh-change"/>
                            </div>
                            <div class="col-md-6 col-6">
                                <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Giờ khởi hành</label>
                                <input class="form-control" placeholder="" id="gio-khoi-hanh-change"/>
                            </div>
                        </div>
                        <label class="fs-5 fw-semibold mb-2" id="gia-ve-nguoi-lon">Số vé bán</label>
                        <input class="form-control" placeholder="" id="so-ve-ban-change"/>
                    </div>
                    <div class="d-flex flex-column mb-5 fv-row" id="hinhanh">
                        <label class="fs-5 fw-semibold mb-2" id="gia-ve-nguoi-lon">Hình 1(card)</label>
                        <input class="form-control" placeholder="" id="hinh1-change"/>
                        <div class="row" id="hinh-2-3">
                            <div class="col-md-6 col-6">
                                <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 2</label>
                                <input class="form-control" placeholder="" id="hinh2-change"/>
                            </div>
                            <div class="col-md-6 col-6">
                                <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 3</label>
                                <input class="form-control" placeholder="" id="hinh3-change"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-6">
                                <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 4</label>
                                <input class="form-control" placeholder="" id="hinh4-change"/>
                            </div>
                            <div class="col-md-6 col-6">
                                <label class="fs-5 fw-semibold mb-2" id="ngay-khoi-hanh">Hình 5</label>
                                <input class="form-control" placeholder="" id="hinh5-change"/>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-5 fv-row">
                        <label class="fs-5 fw-semibold mb-2" id="phuong-tien" >Phương tiện</label>
                        <input class="form-control" placeholder="" id="phuong-tien-change"/>
                        <label class="fs-5 fw-semibold mb-2" id="am-thuc">Ẩm thực</label>
                        <input class="form-control" placeholder="" id="am-thuc-change"/>
                        <label class="fs-5 fw-semibold mb-2" id="khach-san">Khách sạn</label>
                        <input class="form-control" placeholder="" id="khach-san-change"/> 
                    </div>
                    <div id="ngay-container2">
                        
                      </div>
                    <div class="row"> 
                        <div class=" col-md-6 col-6"> 
                            <div class="d-flex flex-center" id="bot-ngay-change">
                            <button id="button-bot-ngay-change">Bớt Ngày</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-6">
                            <div class="d-flex flex-center" id="them-ngay-change">
                            <button id="button-them-ngay-change">Thêm Ngày</button>
                            </div>
                        </div> 
                    </div>
                      
                    

                </div>


                <!-- footer modal -->
                <div class="modal-footer flex-center">
                    <!-- <button type="reset" id="kt_modal_new_address_cancel" class="btn btn-light me-3">Discard</button> -->
                    <button type="submit" id="kt_modal_new_address_submit" class="btn btn-primary">
                        <span class="indicator-label">Sửa tour</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script  src="https://preview.keenthemes.com/keen/demo1/assets/js/scripts.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script> -->
<script  src="/js/baidang.js"></script>