<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/cart.css" />
    </head>
    <body>
        <header style="height: 100px; background-color: black;"></header>
        <div class="container">
            <div class="row justify-content-center mt-5 mx-md-5 mx-2 px-sm-2">
                <ul class="nav nav-tabs flex-lg-row mb-5 p-0" role="tablist">
                    <li class="nav-item flex-fill">
                        <a class="nav-link text-center active" id="active-btn" data-toggle="tab" href=" " role="tab"> <i class="bi bi-bag-heart-fill me-2"></i>Giỏ hàng</a>
                    </li>
                    <li class="nav-item flex-fill">
                        <a class="nav-link text-center" data-toggle="tab" href=" " role="tab"> <i class="bi bi-ui-radios me-2"></i>Đơn hàng đã đặt</a>
                    </li>
                    <li class="nav-item flex-fill">
                        <a class="nav-link text-center" data-toggle="tab" href=" " role="tab"> <i class="bi bi-credit-card-2-back-fill me-2"></i>Lịch sử giao dịch</a>
                    </li>
                </ul>

                <div class="dropdown p-0">
                    <button class="btn dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-bag-heart-fill me-2"></i>Giỏ hàng</button>
                    <ul class="dropdown-menu w-100">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href=" " role="tab"> <i class="bi bi-ui-radios me-2"></i>Đơn hàng đã đặt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href=" " role="tab"> <i class="bi bi-credit-card-2-back-fill me-2"></i>Lịch sử giao dịch</a>
                        </li>
                    </ul>
                </div>

                <section class="container px-0">
                    <h3>Giỏ hàng của bạn</h3>
                    <!--px-5 pb-5 mb-2 mb-md-4 mt-5-->

                    <!-- Item-->
                    <% for(let i = 0; i < cartItems.length; i++) { %>
                    <div class="d-sm-flex justify-content-between align-items-center my-3 pb-3 border-bottom">
                        <div class="d-block d-sm-flex align-items-center text-center text-sm-start">
                            <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="shop-single-v1.html">
                                <img src="https://media.travel.com.vn/tour/tfd_220105044803_234329.jpg" width="150" alt="Product" />
                            </a>
                            <div class="pt-2">
                                <h5 class="max-width-h5 fs-base mb-2 truncate-text">
                                    <a href="shop-single-v1.html"><%- cartItems[i].name %></a>
                                </h5>
                                <div class="extra">Ngày khởi hành: <%- cartItems[i].date %></div>
                                <div class="extra price"><%- cartItems[i].price.toLocaleString() %> <small>đ</small></div>
                            </div>
                        </div>
                        <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start text-sm-center" style="max-width: 9rem;">
                            <button type="button" class="btn btn-danger" onclick="bookTourPage()">Đặt ngay</button>
                            <button class="btn btn-link px-0" type="button" onclick="deleteItem()">
                                <i class="ci-close-circle me-2"></i>
                                <span class="fs-sm">Xóa</span>
                            </button>
                        </div>
                    </div>
                    <% } %>

                </section>
            </div>
        </div>
    </body>
</html>
