<link rel="stylesheet" href="/css/client.css">
<div class="table-responsive  table-custom">
    <table class="table align-middle position-relative mb-0 table-striped table-borderless">
        <thead class="align-middle">
            <tr>
                <th>Khách hàng</th>
                <th>ID</th>
                <th>Giới tính</th>
                <th>Ngày tạo tài khoản</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="client-list__container">
            
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <section class="gradient-custom modal-content bg-transparent ">
            <div class="container p-0">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="card" style="border-radius: 16px;">
                        <div class="w-100 client-info">
                            <p>THÔNG TIN CÁ NHÂN</p>
                        </div>
                        <div id="modal-grey-line"></div>
                        <div class="card-body">
                            <div class="d-flex  flex-column align-items-center mb-4">
                                <img src="/img/client.png" class="rounded-circle client-ava" />
                                <p class="client-info__name" id="client-name"></p>
                                <div class="client-modal-icon">
                                    <a onclick="copyMail('vdpvu21@p.fitus.edu.vn')"><img src="/img/admin/users-role/paper-plane.png" class="client-icon-info"></a>
                                    <a onclick="copyPhone('0918363125')"><img src="/img/admin/users-role/phone-call-1.png" class="client-icon-info"></a>
                                </div>
                            </div>
                            <div class="d-flex flex-column client-info__body py-4">
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">ID:</p>
                                    <p class="info__content col-8 client-info__data" id="client-id"></p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">Giới tính:</p>
                                    <p class="info__content col-8 client-info__data" id="client-gender"></p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">Ngày sinh:</p>
                                    <p class="info__content col-8 client-info__data" id="client-date"></p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">Điện thoại:</p>
                                    <p class="info__content col-8 client-info__data" id="client-phone"></p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">Mail:</p>
                                    <p class="info__content col-8 client-info__data" id="client-email"></p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="pagination-container d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination" id="pagination">
        <!-- Các liên kết phân trang sẽ được tạo bằng JavaScript -->
      </ul>
    </nav>
</div>
<script defer src="/js/client.js"></script>