<link rel="stylesheet" href="/css/client.css">
<div class="table-responsive  table-custom">
    <table class="table align-middle position-relative mb-0 table-striped table-borderless">
        <thead class="align-middle">
            <tr>
                <th>Khách hàng</th>
                <th>ID</th>
                <th>Giới tính</th>
                <th>Ngày tạo tài khoản</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for( let index = 0; index < 10; index++ ) { %>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 30px; height: 30px;" class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1 name">Vũ Nguyễn Xuân Uyên</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">21126088</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">Nam</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">20/10/2019</p>
                    </td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <a onclick="copyMail('vdpvu21@p.fitus.edu.vn')"><img src="/img/admin/users-role/paper-plane.png" class="client-icon"></a>
                            <a onclick="copyPhone('0918363125')"><img src="/img/admin/users-role/phone-call-1.png" class="client-icon"></a>
                            <a><img src="/img/admin/users-role/eye-1.png" class="client-icon" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
                        </div>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <section class="gradient-custom modal-content bg-transparent ">
            <div class="container p-0">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="card" style="border-radius: 16px;">
                        <div class="w-100 client-info">
                            <p>THÔNG TIN CÁ NHÂN</p>
                        </div>
                        <div id="modal-grey-line"></div>
                        <div class="card-body">
                            <div class="d-flex  flex-column align-items-center mb-4">
                                <img src="/img/home/60x60.png" class="rounded-circle client-ava" />
                                <p class="client-info__name">Vũ Nguyễn Xuân Uyên</p>
                                <div class="client-modal-icon">
                                    <a onclick="copyMail('vdpvu21@p.fitus.edu.vn')"><img src="/img/admin/users-role/paper-plane.png" class="client-icon-info"></a>
                                    <a onclick="copyPhone('0918363125')"><img src="/img/admin/users-role/phone-call-1.png" class="client-icon-info"></a>
                                </div>
                            </div>
                            <div class="d-flex flex-column client-info__body py-4">
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">ID:</p>
                                    <p class="info__content col-8 client-info__data">21126090</p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">Giới tính:</p>
                                    <p class="info__content col-8 client-info__data">Nữ</p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">Ngày sinh:</p>
                                    <p class="info__content col-8 client-info__data">16/10/2002</p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">Điện thoại:</p>
                                    <p class="info__content col-8 client-info__data">093 883 7226</p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4 client-info__title">Mail:</p>
                                    <p class="info__content col-8 client-info__data">vnxuyen21@vp.fitus.edu.vn</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script defer src="/js/client.js"></script>