<!DOCTYPE html>
<html lang="en">

<head>
        <%- include('partials/head') %>

        <!-- <title>Allez Où</title>
        <link rel="icon" type="image/png" href="/img/logo.png" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  -->
        <link rel="stylesheet" href="/css/dangky.css" />
        <script src="/js/dangky.js"></script>
</head>

<body>
    <div class="container-fluid center-form">
        <div class="col-md-7 border-white">
            <form style="padding-bottom: 6em;">
                <div class="container" id="main-container">
                    <div class="form-group d-flex justify-content-between">
                        <button type="button" class="btn btn-third-length" id="register">1 - Tài Khoản</button>
                        <button type="button" class="btn btn-third-length" id="info">2 - Thông tin cá nhân</button>
                        <button type="button" class="btn btn-third-length" id="bank-link">3 - Liên kết ngân
                            hàng</button>
                    </div>
                    <div id="personal-info">
                        <div class="form-group-name">
                            <label for="name">Họ và Tên:</label>
                            <input type="name" class="form-control" id="name" placeholder="Nhập tên" />
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Nhập email" />
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="pwd">Mật khẩu:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" />
                            </div>
                            <div class="form-group col-md-6 pwd-confirm-wrapper">
                                <label for="pwd_confirm" style="margin-left: 10%;">Xác nhận mật khẩu:</label>
                                <input type="password" class="form-control" id="pwd_confirm"
                                    placeholder="Xác nhận mật khẩu" style="margin-left: 10%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container" id="btn-home-register">
        <div class="row">
            <div class="col-6 text-center">
            </div>
            <div class="col-6 text-center">
                <button type="button" class="btn btn-primary"
                    onclick="if (validateForm()) { SaveValues1(); loadNewForm(); }">Tiếp Theo</button>
            </div>
        </div>
</body>
<script>
    window.onload = function () {
        var nameInput = document.createElement("input");
        nameInput.setAttribute("id", "name");
        nameInput.setAttribute("type", "text");
        document.body.appendChild(nameInput);

        var emailInput = document.createElement("input");
        emailInput.setAttribute("id", "email");
        emailInput.setAttribute("type", "email");
        document.body.appendChild(emailInput);

        var pwdInput = document.createElement("input");
        pwdInput.setAttribute("id", "pwd");
        pwdInput.setAttribute("type", "password");
        document.body.appendChild(pwdInput);

        LoadFormValues1();
        SaveValues1();
    };
</script>
<script src="/js/script.js"></script>

</html>