<link rel="stylesheet" href="/css/dashboard.css">
<div class="container">
    <div class="row g-2">
      <div class="col-sm-8 row g-2 m-0 h-100">
        <div class="col-sm-8">
            <div class="frame d-flex justify-content-between revenue h-100">
                <div>
                    <p class="title">Tổng doanh thu</p>
                    <h3>123 000 000 VNĐ</h3>
                    <h1><strong class="decrease">giảm 7,00%</strong> so với tháng trước</h1>
                </div>
                <div class="blue-square"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="frame d-flex justify-content-between revenue h-100">
                <div>
                    <p class="title">Lượt đặt tour</p>
                    <h3>45</h3>
                    <h1><strong class="increase">tăng 8,60%</strong> so với tháng trước</h1>
                </div>
                <div class="blue-square"></div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="frame">
                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="frame h-100">
            <p class="title mb-3">Top các tour bán chạy</p>
            <div class="d-flex flex-column justify-content-around mt-4">
                <div class="d-flex justify-content-between top-tour">
                    <img src="img/home/60x60.png">
                    <a href="">Hà Nội - Sapa - Fansipan - Ninh Bình - Tràng An - Bái Đính - Tuyệt Tịnh Cốc - Hạ Long - Yên Tử</a>
                    <p>78 vé</p>
                </div>
                <div class="grey-line"></div>
                <div class="d-flex justify-content-between top-tour">
                    <img src="img/home/60x60.png">
                    <a href="">Hà Nội - Sapa - Fansipan - Ninh Bình - Tràng An - Bái Đính - Tuyệt Tịnh Cốc - Hạ Long - Yên Tử</a>
                    <p>78 vé</p>
                </div>
                <div class="grey-line"></div>
                <div class="d-flex justify-content-between top-tour">
                    <img src="img/home/60x60.png">
                    <a href="">Hà Nội - Sapa - Fansipan - Ninh Bình - Tràng An - Bái Đính - Tuyệt Tịnh Cốc - Hạ Long - Yên Tử</a>
                    <p>78 vé</p>
                </div>
                <div class="grey-line"></div>
                <div class="d-flex justify-content-between top-tour">
                    <img src="img/home/60x60.png">
                    <a href="">Hà Nội - Sapa - Fansipan - Ninh Bình - Tràng An - Bái Đính - Tuyệt Tịnh Cốc - Hạ Long - Yên Tử</a>
                    <p>78 vé</p>
                </div>
                <div class="grey-line"></div>
            </div>
        </div>
      </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
<script src="js/dashboard.js"></script>