<link rel="stylesheet" href="/css/dashboard.css">
<div class="container">
    <div class="row g-2">
      <div class="col-sm-8 row g-2 m-0 h-100">
        <div class="col-sm-8">
            <div class="frame d-flex justify-content-between revenue h-100">
                <div>
                    <p class="title">Tổng doanh thu</p>
                    <h3 id="revenue-this-month"></h3>
                    <h1><strong  id="revenue-profit"></strong> so với tháng trước</h1>
                </div>
                <div class="blue-square"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="frame d-flex justify-content-between revenue h-100">
                <div>
                    <p class="title">Lượt đặt tour</p>
                    <h3 id="numOf-tickets-this-month"></h3>
                    <h1><strong class="" id="ticket-percentage-change"></strong> so với tháng trước</h1>
                </div>
                <div class="blue-square"></div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="frame">
                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="frame h-100">
            <p class="title mb-3">Top các tour bán chạy</p>
            <div class="d-flex flex-column justify-content-around mt-4" id="topSellingTour-container">
                
            </div>
        </div>
      </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script defer src="js/dashboard.js"></script>