<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allez-ou</title>

    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/error.css" />
</head>
<body>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-10 text-center mx-auto">
                    <!-- Title -->
                    <h1 class="display-1 text-primary mb-0">404</h1>
                    <!-- Subtitle -->
                    <h2>Đã xảy ra lỗi!</h2>
                    <!-- info -->
                    <p class="mb-4">Có thể đã xảy ra sự cố hoặc trang này không còn tồn tại nữa.</p>
                    <!-- Button -->
                    <a href="index.html" class="btn btn-light mb-0 text-btn">Trở về trang chủ</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>