<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/css/home.css" />
        <script defer src="/js/home.js"></script>
    </head>
    <body>
        <header>
            <!--Navbar-->
            <%- include('partials/navbar') %>
            <!--Carousel-->
            <div id="carouselExampleInterval" class="carousel slide position-relative carousel-container" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <!--Search bar-->
                    <div class="search d-inline-flex">
                        <div class="search-place d-flex m-0">
                            <div class="d-flex search-place__start">
                                <div class="icon-bg d-flex m-auto">
                                    <img src="/img/home/location.png" class="location-icon m-auto" />
                                </div>
                                <div class="search-start d-flex flex-column">
                                    <h3>Điểm đi</h3>
                                    <select class="form-select" aria-label="Default select example" id="startPoint">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex mx-5">
                                <img src="/img/home/exchange.png" class="exchange-icon m-auto" />
                            </div>
                            <div class="d-flex search-place__end">
                                <div class="icon-bg d-flex m-auto">
                                    <img src="/img/home/location.png" class="location-icon m-auto" />
                                </div>
                                <div class="search-start d-flex flex-column">
                                    <h3>Điểm đến</h3>
                                    <select class="form-select search-end-point" aria-label="Default select example" id="endPoint">
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="search-line m-auto"></div>
                        <div class="d-flex search-date-and-icon">
                            <div class="search-date d-flex mx-4">
                                <div class="d-flex search-date__start">
                                    <div class="icon-bg d-flex m-auto">
                                        <img src="/img/home/calendar.png" class="location-icon m-auto" />
                                    </div>
                                    <div class="search-start d-flex flex-column">
                                        <h3>Ngày đi</h3>
                                        <input class="form-control form__start-date" type="date" id="search_travel-date" />
                                    </div>
                                </div>
                                <div class="d-flex search-date__tour">
                                    <div class="icon-bg d-flex m-auto">
                                        <img src="/img/home/calendar.png" class="location-icon m-auto" />
                                    </div>
                                    <div class="search-start d-flex flex-column">
                                        <h3>Số ngày</h3>
                                        <select class="form-select" aria-label="Default select example" id="search_num-of-date">
                                            <option class="form-option" value="">Tất cả</option>
                                            <option class="form-option" value="3">1-3 ngày</option>
                                            <option class="form-option" value="7">4-7 ngày</option>
                                            <option class="form-option" value="10">8-14 ngày</option>
                                            <option class="form-option" value="15">trên 14 ngày</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="search-click d-flex m-auto">
                                <a class="navbar-text__hightlight search-button d-flex" onclick="searchTour()">
                                    <img src="/img/home/search.png" class="location-icon m-auto" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="/img/home/da nang.jpg" class="d-block w-100 header__carousel" alt="..." />
                        <div class="carousel-caption bg-text">
                            <h3>CẦU VÀNG</h3>
                            <p>ĐÀ NẴNG</p>
                            <a href="/tourCards/search/?endPlaceCode=15">
                                <button class="blue-button">Xem thêm về Đà Nẵng</button>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/phu quoc.jpg" class="d-block w-100 header__carousel" alt="..." />
                        <div class="carousel-caption bg-text">
                            <h3>GÀNH DẦU</h3>
                            <p>PHÚ QUỐC</p>
                            <a href="/tourCards/search/?endPlaceCode=3">
                                <button class="blue-button">Xem thêm về Phú Quốc</button>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/ha noi.jpg" class="d-block w-100 header__carousel" alt="..." />
                        <div class="carousel-caption bg-text">
                            <h3>HỒ HOÀN KIẾM</h3>
                            <p>HÀ NỘI</p>
                            <a href="/tourCards/search/?endPlaceCode=24">
                                <button class="blue-button">Xem thêm về Hà Nội</button>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                    <span class="visually-hidden visually-hidden">Next</span>
                </button>
            </div>
        </header>

        <!--Tour nổi bật-->
        <div class="container mt-5 outstanding-tour">
            <h3>TOUR NỔI BẬT</h3>
            <div class="container mt-5 outstanding-tour__container">
                <div class="row d-flex" id="tour-container">
                   
                </div>
            </div>
        </div>
        <!--Khám phá VN-->
        <!-- <div class="container mt-5 explore">
            <h3>KHÁM PHÁ VIỆT NAM</h3>
            <div class="container mt-5"></div>
        </div> -->
        <!--Điểm đến yêu thích-->
        <div class="container-fluid mt-5 fav-place">
            <h3>ĐIỂM ĐẾN YÊU THÍCH</h3>
            <div class="container d-flex justify-content-around fav-place__card">
                <div class="position-relative d-flex justify-content-center">
                    <a href="">
                        <img src="/img/home/hanoi.png" class="fav-place__img" />
                        <a class="navbar-text__hightlight fav-place__tag" aria-current="page" href="/tourCards/search/?endPlaceCode=24">Hà Nội</a>
                    </a>
                    <p class="fav-place__text">Đã có 176,072 lượt khách</p>
                </div>
                <div class="position-relative d-flex justify-content-center">
                    <a href="">
                        <img src="/img/home/danang.png" class="fav-place__img" />
                        <a class="navbar-text__hightlight fav-place__tag" aria-current="page" href="/tourCards/search/?endPlaceCode=15">Đà Nẵng</a>
                    </a>
                    <p class="fav-place__text">Đã có 87,779 lượt khách</p>
                </div>
                <div class="position-relative d-flex justify-content-center">
                    <a href="">
                        <img src="/img/home/phuquoc.png" class="fav-place__img" />
                        <a class="navbar-text__hightlight fav-place__tag" aria-current="page" href="/tourCards/search/?endPlaceCode=33">Phú Quốc</a>
                    </a>
                    <p class="fav-place__text">Đã có 78,510 lượt khách</p>
                </div>
            </div>
        </div>
        <!--Bắt đầu hành trình-->
        <div class="container start-journey p-5">
            <img src="/img/home/hoian.png" class="start-journey__img" />
            <div class="start-journey__text">
                <h3>
                    Bắt đầu hành trình <br />
                    của bạn ngay bây giờ!
                </h3>
                <p>
                    Hãy để chúng tôi dẫn bạn đến những thiên đường thiên nhiên tuyệt vời tại Việt Nam, và trải nghiệm những khoảnh khác đáng nhớ trong hành trình khám phá đất nước này.
                    <br />
                    <br />
                    Với dịch vụ tuyệt vời mà chúng tôi mang lại:
                </p>
            </div>
            <div class="start-journey__banner d-flex justify-content-around">
                <div class="d-flex">
                    <div class="m-auto d-flex flex-column">
                        <img src="/img/home/like.png" class="start-journey__icon m-auto" />
                        <h3>Sản phẩm</h3>
                        <p>Đa dạng chất lượng</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="m-auto d-flex flex-column">
                        <img src="/img/home/hand.png" class="start-journey__icon m-auto" />
                        <h3>Giá cả</h3>
                        <p>Luôn có mức giá tốt nhất</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="m-auto d-flex flex-column">
                        <img src="/img/home/call.png" class="start-journey__icon m-auto" />
                        <h3>Hỗ trợ</h3>
                        <p>Hotline (8h00-22h00)</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="m-auto d-flex flex-column">
                        <img src="/img/home/billing.png" class="start-journey__icon m-auto" />
                        <h3>Thanh toán</h3>
                        <p>An toàn & linh hoạt</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        <%- include('partials/footer') %>
    </body>
</html>
