<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
        <link rel="stylesheet" href="/css/orderInfoClient.css" />
        <script src="/js/orderInfoClient.js"></script>
    </head>
    <body>
        <!--Navbar-->
        <%- include('partials/navbar') %>
        <!--body-->
        <section class="pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-xl-8 mx-auto">
                        <div class="card shadow">
                            <!-- Image -->
                            <img src="https://booking.webestica.com/assets/images/gallery/04.jpg" class="rounded-top" alt="" />
                            <!-- Card body -->
                            <ul class="card-body text-center card-pad">
                                <!-- Title -->
                                <h1 class="card-title fss">🎊 Đặt thành công! 🎊</h1>
                                <p class="lead mb-3">Chuyến đi của bạn đã được xác nhận</p>
                                <!-- Second title -->
                                <h5 class="text-primary mb-4">Cung Đường Biển - Hoa: Phan Thiết - Khu Du Lịch Núi Tà Cú - Đồi Cát Vàng - Samten Hills Đà Lạt - Trang Trại rau và hoa Vạn Thành - Kích cầu du lịch</h5>
                                <!-- List -->
                                <div class="row justify-content-between text-start">
                                    <div class="col-12">
                                        <ul class="list-group list-group-borderless">
                                            <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                                <span class="mb-0"> <i class="bi bi-vr fa-fw me-2"></i>Mã tour: </span>
                                                <span class="h6 fw-normal mb-0">NDSGN559-006-080823XE-V</span>
                                            </li>
                                            <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                                <span class="mb-0"> <i class="bi bi-person fa-fw me-2"></i>Khách đại diện: </span>
                                                <span class="h6 fw-normal mb-0">Vũ Nguyễn Xuân Uyên</span>
                                            </li>
                                            <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                                <span class="mb-0"> <i class="bi bi-wallet2 fa-fw me-2"></i>Thanh toán: </span>
                                                <span class="h6 fw-normal mb-0">Ngân hàng</span>
                                            </li>
                                            <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                                <span class="mb-0"> <i class="bi bi-currency-dollar fa-fw me-2"></i>Tổng tiền: </span>
                                                <span class="h6 fw-normal mb-0">4,590,000₫</span>
                                            </li>
                                            <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                                <span class="mb-0"> <i class="bi bi-calendar fa-fw me-2"></i>Ngày xác nhận: </span>
                                                <span class="h6 fw-normal mb-0">03/08/2023</span>
                                            </li>
                                            <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                                <span class="mb-0"> <i class="bi bi-calendar fa-fw me-2"></i>Ngày đi: </span>
                                                <span class="h6 fw-normal mb-0">15/08/2023</span>
                                            </li>
                                            <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                                <span class="mb-0"> <i class="bi bi-people fa-fw me-2"></i>Số khách: </span>
                                                <span class="h6 fw-normal mb-0">3</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div id="infoContainer"></div>
                                    <button class="more" onclick="moreInfo()">---xem thêm---</button>
                                </div>
                                <!-- Download button -->
                                <a href="#" class="btn btn-primary mb-0"> <i class="bi bi-x-octagon"></i> Hủy chuyến </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--footer-->
        <%- include('partials/footer') %>
    </body>
</html>
