<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/auth/register" method="POST">
    <label>
      Full Name:
      <input type="text" name="fullName" required>
    </label>
    <br>
    <label>
      Email:
      <input type="email" name="email" required>
    </label>
    <br>
    <label>
      Password:
      <input type="password" name="password" required>
    </label>
    <br>
    <label>
      Gender:
      <input type="radio" name="gender" value="Male" required> Male
      <input type="radio" name="gender" value="Female" required> Female
      <input type="radio" name="gender" value="Undefined" required> Other
    </label>
    <br>
    <label>
      Date of Birth:
      <input type="date" name="dateOfBirth" required>
    </label>
    <br>
    <label>
      Phone Number:
      <input type="text" name="phoneNumber" required>
    </label>
    <br>
    <button type="submit">Register</button>
  </form>
</body>
</html>