<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/tourSearch.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Du lịch</title>
    <script defer src="/js/tourSearch.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/navbar') %>
    <header>
      <div class="header-booking">
        <div class="booking-info option-select">
            <div class="col">
                <div class="block">
                    <div class="block-col1">
                        <img src="/img/tourSearch/location.svg" alt="">
                    </div>
                    <div class="block-col2">
                        <div class="block-row1">Điểm đi</div>
                        <div class="block-row2">TP.Hồ Chí Minh</div>
                    </div>
                </div>
                <div class="sep-block" style="margin-left: 48px; margin-right: 48px;"><img src="/img/tourSearch/dir.svg" alt=""></div>
                <div class="block">
                    <div class="block-col1">
                        <img src="/img/tourSearch/location.svg" alt="">
                    </div>
                    <div class="block-col2">
                        <div class="block-row1">Điểm đến</div>
                        <div class="block-row2">Hà Nội</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sep-block" style="width: 8px;"></div>
        <div class="booking-info option-down">
            <div class="col">
                <div class="block">
                    <div class="block-col1">
                        <img src="/img/tourSearch/calendar.svg" alt="">
                    </div>
                    <div class="block-col2">
                        <div class="block-row1">Ngày đi</div>
                        <div class="block-row2">18/06/2023</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sep-block" style="width: 20px;"></div>
        <div class="find-filter" onclick="findButtonActive()" style="cursor: pointer;">
            <img src="/img/tourSearch/find.png" alt="">
        </div>
    </div>
    </header>

    <main>
      <div id="travel">
        <div class="travel-container">
            <div class="path">
                <a href="">Du lịch</a>
                /
                <a href="">Miền Bắc</a>
            </div>
            <div class="travel-content">
                <div class="filter web-filter">
                    <div class="title">
                        BỘ LỌC
                    </div>
                    <div class="sub-filter">
                        <div class="sub-filter-name">
                            <div class="sep-line"></div>
                            <div class="name">Số ngày</div>
                            <div class="sep-line"></div>
                        </div>
                        <div class="sub-filter-option">
                            <label class="f-option">1-3 ngày
                                <input type="radio" checked="checked" value="option1" name="f1-radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="f-option">4-7 ngày
                                <input type="radio" value="option2" name="f1-radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="f-option">8-14 ngày
                                <input type="radio" value="option3" name="f1-radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="f-option">trên 14 ngày
                                <input type="radio" value="option4" name="f1-radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="sub-filter">
                        <div class="sub-filter-name">
                            <div class="sep-line"></div>
                            <div class="name">Số người</div>
                            <div class="sep-line"></div>
                        </div>
                        <div class="sub-filter-option">
                            <label class="f-option">1 người
                                <input type="radio" checked="checked" value="option1" name="f2-radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="f-option">2 người
                                <input type="radio" value="option2" name="f2-radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="f-option">3-6 người
                                <input type="radio" value="option3" name="f2-radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="f-option">trên 7 người
                                <input type="radio" value="option4" name="f2-radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="sub-filter">
                        <div class="sub-filter-name">
                            <div class="sep-line"></div>
                            <div class="name">Ngân sách</div>
                            <div class="sep-line"></div>
                        </div>
                        <div class="sub-filter-slider">
                            <div class="f-price-slider"></div>
                            <div class="f-price-range">
                                <p>
                                    <span class="f-price-min"></span> - <span class="f-price-max"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="sep-line"></div>
                    <div class="sub-filter">
                        <div class="sub-filter-confirm">
                            <button class="sub-filter-button" onclick="findButtonActive(), filterDelete()">Xóa bộ lọc</button>
                        </div>
                    </div>
                </div>
                <div class="filter-screen" style="width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 3; background-color: rgba(0, 0, 0, 0.3);">
                    <div class="filter mobile-filter">
                        <div class="title">
                            BỘ LỌC
                        </div>
                        <div class="sep-line"></div>
                        <div class="sub-filter"  style="display: flex; justify-content: space-between;">
                            <div class="sub-filter-name">
                                <div class="name">Số ngày</div>
                            </div>
                            <div class="sub-filter-option">
                                <select class="f-dropbox f1-dropbox">
                                    <option value="option1">1-3 ngày</option>
                                    <option value="option2">4-7 ngày</option>
                                    <option value="option3">8-14 ngày</option>
                                    <option value="option4">trên 14 ngày</option>
                                </select>
                            </div>
                        </div>
                        <div class="sub-filter" style="display: flex; justify-content: space-between;">
                            <div class="sub-filter-name">
                                <div class="name">Số người</div>
                            </div>
                            <div class="sub-filter-option">
                                <select class="f-dropbox f2-dropbox">
                                    <option value="option1">1 người</option>
                                    <option value="option2">2 người</option>
                                    <option value="option3">3-6 người</option>
                                    <option value="option4">trên 7 người</option>
                                </select>
                            </div>
                        </div>
                        <div class="sub-filter">
                            <div class="sub-filter-name">
                                <div class="name">Ngân sách</div>
                            </div>
                            <div class="sub-filter-slider">
                                <div class="f-price-slider"></div>
                                <div class="f-price-range">
                                    <p>
                                        <span class="f-price-min"></span> - <span class="f-price-max"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="sep-line"></div>
                        <div class="sub-filter">
                            <div class="sub-filter-name">
                                <div class="name">Sắp xếp</div>
                            </div>
                            <div class="sub-filter-sort">
                                <div class="tour-sort">
                                    <div class="sort-block" onclick="sortButtonActive(this, 0)" style="display: block;">
                                        <div class="sort-block-content">Ngày khởi hành</div>
                                        <img src="/img/tourSearch/up-arrow.svg" alt="">
                                    </div>
                                    <div style="height: 11px; display: block;"></div>
                                    <div class="sort-block" onclick="sortButtonActive(this, 1)" style="display: block;">
                                        <div class="sort-block-content">Giá tiền</div>
                                        <img src="/img/tourSearch/up-arrow.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sep-line"></div>
                        <div class="sub-filter">
                            <div class="sub-filter-confirm">
                                <button class="sub-filter-button" onclick="findButtonActive()">Hủy</button>
                                <button class="sub-filter-button" onclick="findButtonActive(), filterDelete()">Xóa bộ lọc</button>
                                <button class="sub-filter-button" onclick="findButtonActive(), filterActive()">Áp dụng</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="listtour">
                    <div class="tour-sort">
                        <div class="sort-block" onclick="sortButtonActive(this, 0)">
                            <div class="sort-block-content">Ngày khởi hành</div>
                            <img src="/img/tourSearch/up-arrow.svg" alt="">
                        </div>
                        <div style="width: 15px; display: inline-block;"></div>
                        <div class="sort-block" onclick="sortButtonActive(this, 1)">
                            <div class="sort-block-content">Giá tiền</div>
                            <img src="/img/tourSearch/up-arrow.svg" alt="">
                        </div>
                    </div>
                    <div id = "travel-tour" class="row2">
                        
                    </div>
                    <div id="page-control">
                        <div class="page-button" onclick="previousPage()" style="cursor: pointer;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="15" viewBox="0 0 8 15" fill="none">
                                <path d="M7.21044 0.841675L0.894653 7.03363L7.21044 13.4733" stroke="black" stroke-width="1.26316" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div id="page-info"></div>
                        <div class="page-button" onclick="nextPage()" style="cursor: pointer;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="15" viewBox="0 0 8 15" fill="none">
                                <path d="M0.736945 13.4733L7.05273 7.28132L0.736946 0.841687" stroke="black" stroke-width="1.26316" stroke-linecap="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>
</body>
</html>